/* About me && SubPages*/

h4 {
    width: 80%;
    font-size: 9vw;
    text-align: center;
    border-radius: 10%;
    background-color: #faebd799;
    -webkit-text-stroke: 0.05vmin goldenrod;
}

h5 {
    width: 60%;
    text-align: center;
    color: #000000cf;
    background-color: turquoise;
    -webkit-text-stroke: 0.2vmin red;
    border-radius: 10% 60% 60% 10%;
    border: 1vmin double firebrick;
}



/* MAIN */
#about {
    min-height: fit-content;
    padding: 1vh 0 1vh 0;
    font-size: 3vw;
    background-color: #f0f8ff55;
    border-radius: 30% 30% 0 0;
    box-shadow: 0 10px 20px rgba(1, 0, 1, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#about button {
    position: absolute;
    left: 0.5%;
    top: 0.5%;
    font-size: 4vmin;
    height: min-content;
    box-shadow: 0 10px 20px rgba(1, 0, 1, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: #fff;
    background-color: #000;
    border-radius: 22%;
}

/* Bar */
.projects {
    max-width: 30vw;
    display: inline-table;
    margin: 2%;
    vertical-align: top;
}

.projects>* {
    font-size: 3vw;
    background-color: #11ffad;
    border: 0.9vmin double #000;
}

.projects>*>* {
    border: 0.05vmin solid #000;
}

.projects>ul>label {
    display: block;
    font-size: 4vw;
    text-align: center;
}

.projects>ul {
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    list-style-image: url(../i/Icons/₿/BloodWeb5X6.png);
}

.projects>ul>li:hover {
    cursor: pointer;
    color: blue;
    background-color: aliceblue;
}

/* About - Contact */
#Contact {
    height: fit-content;
    text-align: center;
}

#Contact>p:not(.ContactNotes) {
    text-align: start;
    margin-top: 1vh;
    font-size: 4vw;
    background-color: #faf;
}

.ContactKeys {
    background-color: #ff000055;
    border: 1vmin double goldenrod;
    font-size: 5vw;
    font-weight: 400;
    height: fit-content;
}

#Contact>a {
    display: inline-block;
    max-width: min-content;
    margin: 4%;
}

#Contact>a>* {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.ContactNotes {
    font-size: 3.8vw;
    -webkit-text-stroke: 1px green;
    background-color: #11ffad99;
    border: 2vmin double #11ffad;
    border-radius: 3%;
    margin-top: 0.5vh;
}

.ContactBtns {
    display: inline-block;
    vertical-align: middle;
    width: 8vw;
    height: 8vw;
    border: 1vmin solid greenyellow;
    background-color: #fff;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ContactBtns:hover {
    transform: scale(1.24);
    border-radius: 50%;
    border: 1vh double green;
}

.CtBtnsx0 {
    background-image: url(../i/Icons/Mail.png);
}

.CtBtnsx1 {
    background-image: url(../i/Icons/Phone.png);
}

#ContactFinal {
    opacity: 0.77;
}

#ContactFinal::after {
    opacity: 0.88;
    font-size: 5vw;
    content: ', Jack💙';
    background-color: #11ffad39;
}

#ContactIconWrapper {
    width: 80%;
    padding: 2% 0 2.5% 0;
    margin-bottom: 1.2vh;
    background-color: #f0f8ff55;
}

.ContactIcon {
    width: 8vw;
    height: 8vw;
    margin: 1%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: #fafaff55;
    border: 1px double black;
}

.ContactIcon:hover {
    transform: scale(1.2);
    border: 2px double #00000055;
    background-color: #11ffad;
}