* {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width: 0;
}

html,
footer {
  background-color: white;
}
html {
  background: linear-gradient(
    300.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
    );
    min-height: 100dvh;
    padding: 1%;
}


#shareBtn{
  display: block;
  position: absolute;
  top: min(.5vh,5px); right:min(.5vh,5px);
  background-color: whitesmoke; 
  color: #000; 
  width:min(48px,12vw);
  height:min(12vw,48px);
  border: none; 
  cursor: pointer;
  border: 2px double #08080822;
  border-radius: 8px; /* Add border radius to make the button more visually appealing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow to create a sense of depth */
  font-weight: bold; /* Make the text bold to make it stand out */
  transition: background-color 0.3s ease; /* Add a smooth transition effect when hovering over the button */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#shareBtn:hover {
  background-color: lightgray; /* Change the background color when hovering over the button */
}

#shareModal {
  position: fixed; 
  z-index: 1; 
  left: 0; top: 0; 
  width: 100%; height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}
#shareModal > div {
  background-color: #fefefe; 
  margin: 5% auto; padding: 20px; 
  border: 1px solid #888; 
  width: 80%;
}
#shareModal a {
  display: block;
  padding: 1em;
  margin: .1em;
  border: 2px double #08080822;
  border-radius: 8px;
  background-color: lightcyan;
  font-size: var(--font-L);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
h2{
  /* Share Modal Title */
  margin-bottom: 4vh;
}



/* Full size */
main.full_size{
  width:100vw;
    position: absolute;
    top: 0; left: 0;
    padding:var(--body-content-seperator-double) 0;
}
/* Containerized size*/
main.AML{
    background-color: aliceblue;
    width: 80%;
    /* width: min(80vw, 35em); */
    margin: 0 auto;
    padding: 4%;
    min-height: min(95dvh, max-content);
}

/* Font styling */
header {
  padding:var(--body-content-seperator);
  margin-top: 1%;
}


header img {
  max-width: min(50vw, 15em);
  height:min(50vw, 15em);
}

h1 {
  margin: var(--body-content-seperator-double) 0;
  font-size: var(--font-XL);
  }
  

.AML_link {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.6em;
  text-align: center;
  font-size: var(--font-L);
  padding: 0.9em 0.9em 0.9em 1.6em;
  width: 80%;
  background-color: lightcyan;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 2em;
  border: 3px double #080808f0;

  border-radius: 4%;
  box-shadow: var(--box-shadow-1);
}
.AML_link img {
  width: 20px;
  margin: 0 auto;
}

footer {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  opacity: 0.45;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-text-stroke: 0.08em hotpink;
  }
footer > * {
  /* display:iline; */
  margin: 1%;
}
footer > p {
  font-size: var(--small-font);
}
    footer img {
      max-width: 2em;
      }
