:root{
    --large-font:min(1.45em,7.2vw);
    --small-font:min(3.4vw,1em);
}
*{text-align: center;}

::-webkit-scrollbar{width:0;}

html,footer{background-color:white;}
html{
    padding:0; margin:0; 
    /* background-image: url(../i/background.webp); background-repeat: no-repeat; background-size: cover; */
 background: linear-gradient(300.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    min-height: 100dvh;
    padding:1%;
}
body{
    /* padding:1dvh; */
    /* padding-bottom: 18dvh; */
}

/* Font styling */
h1{
    font-size:var(--large-font);
}
footer>p {
    font-size: var(--small-font);
}

h1 img{
    max-width: min(65vw,17.5em);
    border-radius:25%;
}

h1{margin-top: 1%; color:#595959;}

#AML_container{
    background-color:aliceblue;
    width: min(80vw,35em);
    margin:0 auto;
    margin-top: x;
    padding:4%;
    min-height: min(95dvh,max-content);
    
    /* max(50em,90vh); */
}

.AML_link{
    display:block;
    margin:0 auto;
    margin-bottom:.6em;
    text-align: center;
    font-size:1.5em;
    padding:.6em .6em .6em 1.6em;
    width:min(50vw,18em);
    background-color:lightgreen;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 2em;
    border-radius: 10%;
}
.AML_link img{
    width:20px;
    margin: 0 auto;
}

footer{
    display:flex;margin:0 auto;
    margin-right: -4%; margin-bottom: -4%;
    justify-content: flex-end;
    align-items: center;
    /* position:fixed; bottom:0;left:0;right:0; */
    width:100%;
    opacity:.45;
    /* padding:.2em 0; */
   
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    -webkit-text-stroke: .08em hotpink;
}
footer > * {
    /* display:inline; */
    margin:1%;
}
footer img{
    max-width:2em;
}