/* Special*/
::-webkit-scrollbar {
    width: 0;
}

:root {
    --icon-background: 20deg, #fff000, #fff, green, #000;
    --Shiftery-Background: #ddaa00, #ff11ff, #11ffad,#aadddd, #ddaa00, #ff11ff, #11ffad,#aadddd, #ddaa00, #ff11ff, #11ffad,#aadddd, #ddaa00, #ff11ff, #11ffad;
    --Shifter-Rotation:40deg;
    --Main-color-A: salmon;
    --Main-color-B:lightpink;
    --Profile-Img-A: url(../i/Profile.jpg);
    --Profile-Img-B: url(../i/Profile2.jpg);
    --Main: 180deg;
    --rotation-direction: 360deg;
}

#NavBar_Selected {
    background-color: #ffd700a5;
    border: 0.5vmin solid #00000099;
    box-shadow: 0 1vmin 1vmin #00000055, 0 1vmin 1vmin #00000099;
}
nav {
     border: 1vmin groove gray;
    background: conic-gradient( var(--Shiftery-Background), var(--Shiftery-Background));
    display:block;
    margin: 1vh 0 1vh 0 ;
    padding: 1%;
}

#hr1{width: 98vw; margin: 0 auto; margin-top: 1vh; margin-bottom: 1vh;}

#NavSwitch{ 
    display: block; width: fit-content;
    margin:0 auto;
    font-size: max(2vw,2.4vh);
    color:white;
    -webkit-text-stroke: max(.2vw,.24vh) whitesmoke;
    background-color: #000000bf;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 0.5% 0.5% 1% 0.5%;
    text-decoration: none;
}
#NavSwitch:hover{
    transform: scale(1.12);
    background-color: #000000ef;
}
.NavBar {
    position:fixed; z-index: 2;
    top:0; left:0;
    height: 100%; width:45%;
    background:linear-gradient( -45deg, var(--Shiftery-Background), var(--Shiftery-Background)); 
    border: 1vmin groove gray;
    font-size: large;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 2% 1% 2% 1%;
    transition: 0.5s;
}
#Nav-Close-btn{
    cursor: pointer;
    display:block;
    margin-right:0 ;
    font-size: large;
    -webkit-text-stroke: 0.08vw red;
    background-color: #fafacfcc;
    border: 0.42vmin double gray;
}
.NavListitem {
    cursor: pointer;
    display: block; text-align:center;
    margin: 12.1%; padding: 3% 1.4% 3% 1.4%;
    border-radius: 10%;
    font-size: min(6.32vw,2.8vh);
    border: 0.42vmin double gray;
    background-color: #fafafaa9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-height: content;
    min-width: 10%;
}

.NavListitem>a {
    text-decoration: none;
    color: purple;
    -webkit-text-stroke: 0.11vmin black;
}

.NavListitem:hover {
    text-decoration: underline;
    background-color: #aaaaffbb;
}

/* Nav About */
.Aboutdropdown {
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: -1vw;
    border: 0.01vmin solid #00000011;
}

.Aboutdropdown-content {
    display: none;
    cursor: pointer;
    min-width: 100px;
    height: content;
    padding: 12px 16px;
    z-index: 2;
    background-color: #aaaacf;
    border-radius: 10%;
    border: 1vmin solid #aaaaaa99;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Aboutdropdown-content:hover { transform: scale(1.12); }


.Tasklist {
    margin-bottom: 1vh;
    padding: 1%;
}

.TaskTitle {
    color: #11ffad;
    -webkit-text-stroke: 0.225vmin #990099;
}

#LD-slider{
    cursor: pointer;
    position: fixed;
    bottom:0; right:0;
    margin:2vw;
    width:13vmin;
    padding: 1vw  ;
    border-radius: 12%;
}
.Dark-slider{
    border: .2vw double lightslategrey;
    background-color:#fafafa99;
}
.Light-slider{
    border: .2vw double #00000099;
    background-color: #77889999;
}

#LD-icon{ 
border: 0.6vw double;
height: 6vw; width: 6vw; 
max-height: 3.5vh ; max-width: 3.5vh;
text-align: center;
border-radius: 50%;
background-size: contain; background-position-x: center; background-position-y: center;
transition: 0.5s;
}

#LD-icon:hover{
    transform: scale(1.2);
}
.Light-icon{
    float:left; 
    border-color: #000; background-color:white;
    background-image: url(../i/Icons/64-BIT/Uni-Sun.png);
}

.Dark-icon{
    float:right; 
    border-color: white; background-color:black;
    background-image: url(../i/Icons/64-BIT/Uni-Moon.png);
}


/* Body-Level */

* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    width: 100vw;
    height: fit-content;
    padding: 1%;
}
.Dark-Body{ color:white;
    border:1px solid #afafaf55;background: radial-gradient(circle, #fafafada, #090909dd, gray);
    -webkit-text-stroke:  .2px #09090999;
}
.Light-Body{ color:black;
    border:1px solid #90909055;background: radial-gradient(circle, white, #fafafada, gray, azure);
    -webkit-text-stroke:  .1px #fafafa4f;
}
hr{margin: 1%;}

p {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

header {
    grid-area: header;
    font-family: Lobster, monospace;
    height: min-content;
    margin-top: 1%;
}


footer {
    display: flex; align-items: center;
    margin: 1%;  color:#000;
    padding:1%;
    font-size: 1.2vw;
    text-align: center;
    border: 1vmin double #fff000;
    background:conic-gradient(var(--Shiftery-Background), var(--Shiftery-Background));
}
footer > span { width:50%; display:inline;}
footer > span > img{display: inline; vertical-align: middle;}

#Bloodworks{ padding:1.4%; display: inline-block;
background-color: #fafafa55;   
}


#cc {
    max-width: 30vw;
    background-color: #fafafa55;  
}



/* Pages, --> .box-main*/

.box-main {
    position: relative;
    top: 0;
    padding: 1%;
    max-height: max-content;
    border-radius: 2%;
    border: 2px solid #fff000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color:var(--Main-color-A);
    animation: HomeAnimation 3s cubic-bezier(0.075, 0.82, 0.165, 1) 5s infinite forwards;
}

/****************************/
/*Home == Home.CSS*/

/****************************/
/*About == About.CSS*/


/*****************************/
/* Recommends */
#Recommendations {
    text-align: center;
    height: max-content;
    padding: 0 0 10vh 0;
}

.RecTitle {
    text-align: center;
    display: block;
    margin-bottom: 1vh;
    font-size: 8.2vw;
    -webkit-text-stroke: 1vmin #ff000099;
}

.RecommendationsParagraph {
    font-size: 3.4vw;
    width: 68%;
    left: 0;
    margin-left: 1%;
    background-color: white;
}

.RecommendationsSearch {
    display: block;
    width: 80%;
    height: min-content;
    padding: 1%;
    margin-bottom: 1vh;
    border: 0.2vmin solid #000000;
    background-color: #afafaf55;
}

#SelectRecType {
    padding: 2% 0 2% 0;
    font-size: 3.8vw;
    text-align: center;
    color: white;
    -webkit-text-stroke: 0.05vmin gold;
    background-color: #afafafbb;
    border: 0.2vmin double goldenrod;
}

.RecommendationsType {
    font-size: 3vw;
    color: #000;
    background-color: #afafafbb;
}

.RecommendationsType:hover {
    color: white;
    background-color: #afafaf;
}

#RecommendationsField {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 1vh 0 2vh 0;
    border: 2px solid red;
}

/* Rec Boxes */

.Recommendations {
    max-width: 44%;
    min-height: 4vw;
    display: inline-block;
    padding: 0 0 1vh 0;
    margin: 3% auto 1% auto;
    border: 2px solid gray;
    background-color: aliceblue;
}

.RecomName {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    -webkit-text-stroke: 0.1vmin aquamarine;
    margin-bottom: 1vh;
}

.Recommendations>img {
    width: 59%;
    max-height: 40vw;
    min-height: 10vw;
    float: right;
}

.Recommendations>button {
    display: inline;
    height: content;
    margin: 0 auto;
    margin-top: 1vh;
    background-color: aliceblue;

}

.RecomAbout {
    float: left;
    vertical-align: top;
    max-width: 40%;
    font-size: 2.8vw;
}

/*****************************/
/* Certificates = Certificates/Certificates.css */


/*Project Slider*/

#projects {
    width: auto;
    padding: 1% 0 3% 0;
    background-color: white;
}

#Projects-im {
    margin-top: 1%;
    border: 6px solid black;
    width: 40%;
    height: 40%;
}

#Project-input {
    display: inline-block;
    margin-left: 8%;
}

#Projects-desc {
    position: absolute;
    width: 50%;
    right: 1%;
    font-size: small;
}