*{ margin:0 auto; padding:0;}

[class*="_slider"]{
    background-color: #000;  border:.25vw ridge blue;
    overflow: hidden; 
    /* min-height: 85dvh; */
}

#slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--body-content-seperator-L) 0;
    border: var(--border-width-S) solid white;
    padding-bottom:var(--body-content-seperator-L);
}
  
.slider-title {
    width: 100%;
    color: goldenrod;
    text-align: center;
    font-size: var(--font-ML);
    order: -1;
    margin: 0.5rem 0;
    -webkit-text-stroke: min(0.1em, 0.5px) black;
    border-bottom: min(0.4vh, 10px) double white;
    float:left;
}

/*Contains  slider_main_img & slider_slides */
#main_image_container {
    width: 100%;
    padding: 2.4% 0.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(var(--dark-color-theme-A));
}
  
.slider_prev,
.slider_next {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40%;
    background-color: #fafafa;
    text-align: center;
    border: 4px double;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 2.5s ease;
  }
  
  .slider_prev:hover,
  .slider_next:hover,
  .slider_prev:active,
  .slider_next:active {
    opacity: 0.8;
  }
  
  .Light-Body .slider_prev,
  .Light-Body .slider_next {
    border-image: radial-gradient(circle at 15% 90%, var(--light-color-theme-A))
      0.8;
  }
  .Dark-Body .slider_prev,
  .Dark-Body .slider_next {
    border-image: radial-gradient(circle at 15% 90%, var(--dark-color-theme-A))
      0.8;
  }
  
  .slider_prev {
    margin-right: 0;
  }
  .slider_next {
    margin-left: 0;
  }
/*image slider*/
#main-image-slider {
    display: flex;
    position: relative;
    margin-top: 2%;
    border: 2px solid #1dafad20;
    margin-bottom: 5%;
    overflow: hidden;
}

.image-flex-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00000080;
    padding: 1%;
}

.flex-slider-item {
    cursor: pointer;
    width: 30%;
    margin: 0 1%;
    transition: transform 0.5s, opacity 0.5s;
}

.flex-slider-item img {
    width: 100%;
    height: auto;
}

.flex-slider-item:not(.slider_selected) {
    border: 4px double #afafaf;
    opacity: 0.5;
    transform: scale(0.8) rotateY(20deg);
}

.flex-slider-item.slider_selected {
    opacity: 1;
    transform: scale(1) rotateY(0deg);
}
  
.selected_slide {
    border: 4px double #1dafad;
    opacity: 1;
    transform: scale(1) rotateY(0deg);
}
/* #SLide_Main */
.Standard_slider{
    position:relative; 
    width: 90vw; 
    height: 90svh;
    padding: 0.4vh 0.4vh 2vh 0.4vh;
}

.fullScreen_slider{
    height: 100dvh; width: 99.75vw;
    position: absolute; 
}


/* Elements to hide on fullscreen */
.fullScreen_slider .slider_dot_div,.fullScreen_slider h1,.fullScreen_slider #slider_settings{ 
    display:none; 
}

/* elements to change on fullscreen */
.fullScreen_slider .image_blocks{
  margin: 0 auto;
}

.fullScreen_slider>.image_blocks>img{
    height: 100dvh;
     /* max-height: 86vh; */
}
    
.fullScreen_slider>.next,.fullScreen_slider>.prev{ 
    font-size: 4.8rem;
    -webkit-text-stroke: 4px #00000055;
 }

.fullScreen_slider>.image_blocks>.numbertext {
    /* background-color: #000;  */
    color:red;
}

.fullScreen_slider>.image_blocks>.captiontext{
    background-color: #000;
    font-size: x-large;  
    position: absolute;
    margin: 0 auto; left: 0; right:0;
    bottom: 0vh;
}

.Standard_slider>.image_blocks>img{ min-height: 62vh; }
.Standard_slider>.next,.Standard_slider>.prev {
    /* border: 2vw double #fafafa77;  */
    background-color: #f2f2f255; opacity: 0.9;
    -webkit-text-stroke: 2px #000000;
    font-size: 4.8rem;
}

/* FUllscreen >  */

.image_blocks{
text-align: center; overflow: auto;
vertical-align: middle;
}
.image_blocks> img{
text-align: center; background-color: #000;
max-height: 100%; max-width: 100%; display: block; margin: 0 auto; 
/* border: 2vw double #00000099; */
}
.numbertext {
color: #f2f2f2;
-webkit-text-stroke: 1px #00000055;
font-size: 2rem;
padding: 2vh 2vw;
position: absolute;
top: 0;
z-index: 3;
}

.prev,.next{
display: block;
opacity: 0.2;
cursor: pointer;
position: absolute;
top:40%;
width: auto;
padding: 0 2%;
margin-top: auto; margin-bottom: auto;
color: #fff;
font-weight: 600;
transition: 0.8s ease-in-out;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.next{right: 0;border-radius:  3px 0 0 3px ;}
.prev:hover,.next:hover{ opacity: 0.6; background-color: #00000055;}





.captiontext{
    background-color: #00000055;
    border: 1.2px double gold;
    font-size: medium;
    max-width: 75vw; word-wrap: break-word;
    padding: .5vh 2vw;
    text-align: center;
}
.captiontext>p{
    background-color:#000000a9;
    color: white;
    -webkit-text-stroke: 0.2px gold;
    border: 2px solid #c0c0c055;
    width: fit-content;
    padding: 1%;
}

#slider_dot_div{
    margin: 1%;
    max-width: 90vw; 
    background-color: #d3d3d3aa;
    padding: 0.8vh 0;
    border: 2px double #000;
    border-radius: 10px;
}
.slider_dots{
    cursor: pointer;
    height: 15px; width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
    
#slider_settings{
    position: absolute;
    margin: 0 auto;
    background-color: #000;
    bottom:0;
    padding:4% 1%;
    left:0;right:0;
   
}

#fullscreen_slider_switch{
    cursor: pointer; opacity: 0.4;
    text-align: center;
    position: absolute;
    display:block; 
    top:40%;  right:0; left:0;
    height:max(10vh,14vw); width: max(10vh,14vw);
    transform:rotateX('30deg');
    background-color: #00000055;
    border: 0.4rem double #feafc8f6; border-radius: 50%;
    z-index: 3;
}
#fullscreen_slider_switch:hover{
background-color: #71737199;
}
.promptSlider[src="EI.png"]{
    transform: scale(2);
    display: block;
    animation-name: promptSliderOpen;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.promptSlider[src="EIX.png"]{

    display: block;
    animation-name: promptSliderClose;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
@keyframes promptSliderOpen {
    from{ border: 0.4rem double #feafc8f6;}
    99%{background-color: #f0f0f066; opacity: 0.6 ;  transform: scaleX(1.08);}
    to{ opacity: .24; scale: (1.4); border: .2rem double #faafaf55;}
}
@keyframes promptSliderClose {
    from{ border: 0.4rem double #feafc8f6; transform: scale(1.4);}
    99%{background-color: #f0f0f066; opacity: 0.6 ;  }
    to{ display: none; }
}
    
.promptPlud{
    animation-name: promptPlud;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
    @keyframes promptPlud {
        from{opacity:.1; border: 0.4rem double #feafc8f6;}
        99%{background-color: #f0f0f066; opacity: 0.6 ;  transform: scaleX(1.08);}
        to{ opacity: .8;transform: scale(1.12);  }
    }

.active, .dot:hover,#clos{background-color: #717371;}

.fadeAnimation{
    animation-name: fade;
    animation-duration: 1.5s;

}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}