/* :root{
    --Hnav-horizontal-padding:0.2em;
    --Hnav-vertical-padding:0.2em;

    --Vnav-horizontal-padding:0.2em;
    --Vnav-vertical-padding:0.2em;
    --Vnav-horizontal-margin:0.2em;
    --Vnav-vertical-margin:0.2em;
} */

.Horizontal_NavBar,.Horizontal_Socials{
    /* Push content away from Nav and Socials */
    margin-top: var(--body-content-seperator) ;
    margin-bottom: var(--body-content-seperator) ;
}


img[id^="favicon_img"]{/* The unicorn */
    width: var(--header-img-width);
    position: absolute;
    top: 55%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 1;
    max-width: 100%; /* Ensure it doesn't overflow the parent */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits within the parent */
}

#return_nav_button{
  background-color: #FD7660;
  display: block;
  padding: 6px 20px 6px 16px;
  border: 1px solid #C85440;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
  border-radius: 3px;
  color: #F5F5F5;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: min(10px,1vw);
  text-decoration: none;
  position: relative;
  left:0;
}



/* ####################################### */
/*            Horizontal Nav               */


.Horizontal_NavBar.sticky_nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 1dvh min(5vw,10px);
    width: 100%;
    transition: 0.3s;
    background-color: #fafafa;
}

/* show/hide the image when nav is sticky */
.Horizontal_NavBar > img{
    position:absolute;
    top:0;
    max-width:var(--nav-img-width);
}

.Horizontal_NavBar > img{display:none;}
.Horizontal_NavBar.sticky_nav > img {display:block;}
.Horizontal_NavBar:sticky::before {
    opacity: 1;
}

.Horizontal_NavBar>.NavListitem{
    text-align: center;
    font-size: min(6.32vw, 2.8vh);
    background-color: #fafafaa9;
    border-radius: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-width: 12.5%;
    margin: 0;
    padding: 2%;
}

/* Add 'Menu' from sticky nav and float right */
#Vertical_NavSwitch{
    border-radius: 0;
    font-weight:900;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#Vertical_NavSwitch::after {
    content: ' Menu';   
    padding-right:min(1vw,8px);
    }
/* .sticky_nav > #Vertical_NavSwitch::before {
    content: none;
} */
.sticky_nav > #Vertical_NavSwitch{
    justify-content:center;
    margin-right:auto;
    font-size:var(--font-XL);
    width: 100%;
}
.sticky_nav > #Vertical_NavSwitch > p{
    justify-content:center;
}
/* Hide the banner Image when the nav is sticky */
#unicorn_nav_img_container{
    display:none;
}

#unicorn_nav_img{ display:none; }

.sticky_nav>#unicorn_nav_img{
    display:block;
    position: absolute;
    right:min(10px,1vw);
}
.Horizontal_NavBar {
    z-index: 2;
    background-color: #fafafaaa;
    border-top: 1vmin groove gray;
    border-bottom: 1vmin groove gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: var(--padding-scale-xs-noH);
    margin-top: 0;
    transition: 0.5s;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
/*******************************************************/
/* Nav */

 
.Vertical_NavBar {
    font-size: large;
    position: fixed;
    opacity: 0.3;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 82.5%;
    border: 1vmin groove gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 0;
    padding: var(--padding-scale-large-top);
    transform: translateX(-100%); /* Initially off-screen */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition properties */
}
.Light-Mode #Vertical_NavBar {
    background:var(--light-mode-rainbow);
}
.Dark-Mode #Vertical_NavBar {
    background:var(--dark-mode-rainbow);
    color: #fff;
}
.Vertical_NavBar.show {
    display: block; /* Show the nav bar */
    opacity:1;
    transform: translateX(0); /* Move into view */
}

/* Push the first nav item down */
.Vertical_NavBar > .NavListitem:first-of-type {
margin-top: calc(var(--body-content-seperator-XL) / 2);
}

.Vertical_NavBar > .NavListitem {
text-align: center;
font-size: var(--font-XL);
font-family: "Spectral SC", serif;
background-color: #fafafaa9;
border: 0.42vmin double gray;
border-radius: 5% 25% 25% 5%;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
min-width: 12.5%;
max-width: 80%;
/* margin: 0; */
padding: 0.2em;
margin: 0.2em;
margin-top: min(0.8em, 4vh);
position: relative;
left: 50%;
transform: translateX(-50%);
}

#Vertical_NavFooter{
    position:absolute;
    bottom:1%;
    width:calc(100% - 0.8em);
    padding:calc(var(--Vnav-horizontal-padding)*2);
    background: linear-gradient(-70.9deg, rgb(255, 215, 0), rgb(255, 160, 122), rgb(238, 130, 238), rgb(152, 251, 152));
    background:#00000000;
    border-top: 1vmin groove rgba(128, 128, 128, 0.151);
    border-bottom: 1vmin groove rgba(128, 128, 128, 0.151);
}

/* Dark Mode Switch Button */
#DarkModeSwitch {
    display: flex;
    float:right;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 10em; /* Adjust width as needed */
}

#DarkModeSwitch .darkmode-text {
    margin-right: 0.5em;
}

#DarkModeSwitch .darkmode-icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--sun-color);
    transition: transform 0.3s ease;
    position: absolute;
    left: 0.5em; /* Adjust left position */
}

body.Dark-Mode #DarkModeSwitch .darkmode-icon {
    transform: translateX(6em); /* Adjust translateX value */
    background-color: var(--moon-color);
}

#unicorn_nav_img_container {
    justify-content: flex-start;
    align-items: center;
}
#unicorn_nav_img{
    width: calc(var(--header-img-width)/1.2);
    /* transform: rotateY(180deg); */
}
.quote_box {
    position: relative;
    background: #80808025;
    /* #00aabb99; */
    border-radius: .4em;
    padding: .6em;
    margin: 0 min(40px,4vw);
    color: black;
    border: 1px solid #00aabb;
    -webkit-text-stroke: min(14px, 0.02em) #00aabb;
    min-width: fit-content;
    max-width: 200px;
    font-size: var(--font-MS);
}

.quote_box::after {
    content: '';
    position: absolute;
    top: 15%;
    left: 100%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #00aabb;
    border-left: 0;
    margin-top: 0px;
    margin-right: 0;
    transform: rotateY(180deg);
}


/* ####################################### */
/*            Vertical Nav                 */


/* Have the A elements take over the parent*/
.Vertical_NavBar>.NavListitem>a {
    display: flex;
}


/* Remove bullets from nav*/
.Vertical_NavBar>li {
    list-style: none;
    padding: 0;
}

.NavListitem,.NavListitem>a {
    text-decoration:none; /*Remove Underline*/
    margin-left: min(2vw,10px);
    padding:1%;
}

.NavListitem>a>*,.NavListitem p { 
    margin:0; 
    margin-left:var(--padding-left-L); 
    vertical-align:text-top;
}



#Nav-Close-btn::before{
    display:inline-block;
    content:"\00d7";
    -webkit-text-stroke: 2px red;
}
#Nav-Close-btn {
    cursor: pointer;
    position: absolute;
    opacity: 0.8;
    top: .05em;
    left: .05em;
    font-size: var(--font-XXL);
    padding: 0 .2em;
    background-color: #fafacfcc;
    border: 0.42vmin double gray;
}



/* ####################################### */
/*             Social Icons                */
#contact_icons{
    list-style-type: none;
    margin: 1%;
    margin-left:0;
    /* padding:4%; */
    width:100%;
}
.contact_icons{
    padding:.1em;
    display:flex;
    justify-content: space-between;
    align-items:end;
}
.contact_icons img{
    max-width:40px;
    vertical-align: middle;
    margin-right: 1em;
}

.contact_icons  a{
    vertical-align: middle;
    text-decoration: none;
    color:#203020;
    font-weight: 900;
    -webkit-text-stroke: .01em solid gray;
}
#Socials_Container {
    /* display: flex; */
    align-items: center;
    margin: 0 auto;
    margin-top: 0.8vh;
    margin-bottom: 0.4vh;
    color: #000;
    padding: var(--padding-scale-xs-noH);
    width: 94%;
    text-align: center;
    border: 1vmin double #fff000;
}

#Socials_Container {
    margin: 0 auto;
}

#IconBox {
    width: 100%;
    text-align: center;
}

#IconBox[onClick*="switchIconBox(false)"] {
    background-color: #000;
}

#IconBoxPre {
    display: none;
}


.Vertical_Socials {
    padding: 1.5% 4% 1.5% 4%;
    margin-top: var(--body-content-seperator-double); /**/
    
}
.Vertical_Socials > * > *{ /* Display the vertical items in a line */
    display: flex;
    align-items: center;
    margin-top:1vh; /* Sperate vertical elements  */
}
.Vertical_Socials p{ /* Push content right */
    margin-left: min(2vw,20px);
}

