
.Horizontal_NavBar,.Horizontal_Socials{
    /* Push content away from Nav and Socials */
    margin-top: var(--body-content-seperator) ;
    margin-bottom: var(--body-content-seperator) ;
}


img[id^="favicon_img"]{/* The unicorn */
    width: var(--header-img-width);
    position: absolute;
    top:45%;
    right:0;
    transform: translateY(-50%);
    z-index:1;
}
#banner_img_bloodweb{
    width: calc(var(--header-img-width)/1.6);

}

/* Slider */
.Dark-Body {
    color: white;
    border: 4px double #afafaff9;
    /* background: radial-gradient(circle, #fafafada, #090909dd, gray); */
    -webkit-text-stroke: .2px #09090999;
}

/* Keep link text blue*/
/* .Dark-Body .NavListitem>a{color:blue;} */
/*Invert all 'a'*/
/* .Dark-Body a{filter:invert(1);} */
/* Revert Images*/
.Dark-Body a>img{filter:invert(1);}

.Light-Body {
    color: black;
    border: 4px double #fff;
    /* background: radial-gradient(circle, white, #fafafada, gray, azure); */
    -webkit-text-stroke: .1px gold;
     /* #fafafa4f; */
}

#LD-slider {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: .2em;
    width: min(4.5rem, 14vw);
    max-width:8.5vh;
    padding: .35em;
    border-radius: 12%;
    z-index:10;
}

.Dark-slider {
    border: .4vmin double lightslategrey;
    background-color: #fafafac4;
}

.Light-slider {
    border: .4vmin double #00000099;
    background-color: #03030399;
}

#LD-icon {
    border: 0.6vw double;
    height: min(6vw,2em);
    width: min(6vw,2em);
    max-height: 3.5vh;
    max-width: 3.5vh;
    padding: 4%; 
    text-align: center;
    border-radius: 50%;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    transition: 0.5s;
}

#LD-icon:hover {
    transform: scale(1.2);
}

.Light-icon {
    float: left;
    border-color: #000;
    background-color: white;
    background-image: url(../i/Icons/64-BIT/Uni-Sun.png);
}

.Dark-icon {
    float: right;
    border-color: white;
    background-color: black;
    background-image: url(../i/Icons/64-BIT/Uni-Moon.png);
}

.Light-Body .bg-animation {
    background-color: #00000099;
}

.Dark-Body .bg-animation {background-color: #ffffff99;}
.Dark-Body h1 {
    color:red;
    filter:invert(1);
}


#return_nav_button{
  background-color: #FD7660;
  display: block;
  padding: 6px 20px 6px 16px;
  border: 1px solid #C85440;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.25);
  border-radius: 3px;
  color: #F5F5F5;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 15px;
  margin-left: min(10px,1vw);
  text-decoration: none;
  position: relative;
  left:0;
}



/* ####################################### */
/*            Horizontal Nav               */
.Horizontal_NavBar {
    z-index:2;
    background-color: #fafafaaa;
    border: 1vmin groove gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: var(--padding-scale-xs-noH);
    transition: 0.5s; 
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.Horizontal_NavBar.sticky_nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 1dvh min(5vw,10px);
    width: 100%;
    transition: 0.3s;
    background-color: #fafafa;
}
/* show/hide the image when nav is sticky */
.Horizontal_NavBar > img{
    position:absolute;
    top:0;
    max-width:var(--nav-img-width);
}
.Horizontal_NavBar > img{display:none;}
.Horizontal_NavBar.sticky_nav > img {display:block;}
.Horizontal_NavBar:sticky::before {
    opacity: 1;
}

.Horizontal_NavBar>.NavListitem:not(.Vertical_NavSwitch) {
    text-align: center;
    font-size: min(6.32vw, 2.8vh);
    background-color: #fafafaa9;
    border: 0.42vmin double gray;
    border-radius: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-width: 12.5%;
    margin: 0;
    padding: 2%;
}

/* Add 'Menu' from sticky nav and float right */
#Vertical_NavSwitch{
    font-size:var(--font-L);
    display: flex;
    justify-items: center;
    align-items:center;
}
#Vertical_NavSwitch::before {
    content: 'Menu ';
    }
.sticky_nav > #Vertical_NavSwitch::before {
    content: none;
    padding-right:min(1vw,8px);
}
/* Hide the banner Image when the nav is sticky */
#banner_img_container{
    display:none;
}
.sticky_nav > #banner_img_container{
    display:flex;
}
.sticky_nav > #Vertical_NavSwitch{
    justify-content:center;
    margin-left:auto;
    font-size:var(--font-XL);
}
.sticky_nav > #Vertical_NavSwitch > p{
    justify-content:center;
}

/* ####################################### */
/*            Vertical Nav                 */
.Vertical_NavBar { 
    font-size: large;
    position: fixed; display: block;
    z-index: 2;
    top: 0; left: 0;
    height: 100%; width: 82.5%;
    border: 1vmin groove gray;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin:0; padding:var(--padding-scale-large-top);
    /* transition: 0.5s; */
}

.Vertical_NavBar>.NavListitem {
    text-align: center;
    font-size: var(--font-XL);
    background-color: #fafafaa9;
    border: 0.42vmin double gray;
    border-radius: 20%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-width: 12.5%;
    max-width:80%;
    /* margin: 0; */
    padding: .2em;
    margin: .2em;margin-top:min(.8em,4vh);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.Vertical_NavBar>.NavListitem:first-of-type{
    margin-top:calc(var(--body-content-seperator-XL)/2);
}

/* Have the A elements take over the parent*/
.Vertical_NavBar>.NavListitem>a {
    display: flex;
}


/* Remove bullets from nav*/
.Vertical_NavBar>li {
    list-style: none;
    padding: 0;
}

.NavListitem,.NavListitem>a {
    text-decoration:none; /*Remove Underline*/
    margin-left: min(2vw,10px);
    padding:1%;
}

.NavListitem>a>*,.NavListitem p { 
    margin:0; 
    margin-left:var(--padding-left-L); 
    vertical-align:text-top;
}



#Nav-Close-btn::before{
    display:inline-block;
    content:"\00d7";
    -webkit-text-stroke: 2px red;
}
#Nav-Close-btn {
    cursor: pointer;
    position: absolute;
    opacity: 0.8;
    top: .05em;
    left: .05em;
    font-size: var(--font-XXL);
    padding: 0 .2em;
    background-color: #fafacfcc;
    border: 0.42vmin double gray;
}



/* ####################################### */
/*             Social Icons                */
#contact_icons{
    list-style-type: none;
    margin: 1%;
    margin-left:0;
    /* padding:4%; */
    width:100%;
}
.contact_icons{
    padding:.1em;
    display:flex;
    justify-content: space-between;
    align-items:end;
}
.contact_icons img{
    max-width:40px;
    vertical-align: middle;
    margin-right: 1em;
}

.contact_icons  a{
    vertical-align: middle;
    text-decoration: none;
    color:#203020;
    font-weight: 900;
    -webkit-text-stroke: .01em solid gray;
}
#Socials_Container {
    /* display: flex; */
    align-items: center;
    margin: 0 auto;
    margin-top: 0.8vh;
    margin-bottom: 0.4vh;
    color: #000;
    padding: var(--padding-scale-xs-noH);
    width: 94%;
    text-align: center;
    border: 1vmin double #fff000;
}

#Socials_Container {
    margin: 0 auto;
}

#IconBox {
    width: 100%;
    text-align: center;
}

#IconBox[onClick*="switchIconBox(false)"] {
    background-color: #000;
}

#IconBoxPre {
    display: none;
}

.Horizontal_Socials {
    display: flex;
    width: 100%;
    padding: 3.5% 4%;
    margin-top: 1%;
    justify-content: space-evenly;
    position: relative;
}

.Vertical_Socials {
    padding: 1.5% 4% 1.5% 4%;
    margin-top: var(--body-content-seperator-double); /**/
    
}
.Vertical_Socials > * > *{ /* Display the vertical items in a line */
    display: flex;
    align-items: center;
    margin-top:1vh; /* Sperate vertical elements  */
}
.Vertical_Socials p{ /* Push content right */
    margin-left: min(2vw,20px);
}


.Rotern {
    margin: 0;
}

.Rotern>a {
    height: 100%;
    width: 100%;
}

.balls:hover {
    opacity: 1;
    transform: scale(1.25);
}

.balls {
    opacity: 0.65;
    background-color: #fff;
    cursor: pointer;
    display: inline;
    position: relative;
    max-height: 9vh;
    height: 10vmin;
    max-width: 9vh;
    width: 10vmin;
    border: 0.5vmin double gold;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.Rotern:hover {
    animation-name: Ball-Background;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



#foot_note {
    position:absolute;
    font-size: min(2.5vw, 1.8vh);
    background-color: #fafafa55;
}

/* Powered By*/
#foot_note a>* {
    vertical-align: middle;
}

#foot_note a p {
    display: inline;
    text-decoration: inherit;
    color: #000;
}

#foot_note img {
    max-width: 4vw;
    display: inline;

}
