

#Tools { 
    position: fixed; right: 0; top: 0;
    height: max-content; width: max-content;
    padding-right: 1px; 
}

.tool-icons{
    cursor:pointer;
    display: block;
    background-color: aqua;
    border-radius: 50%; border: 0.2vh solid navy;
    height: max(5vh,5vw); width: max(5vh,5vw);
    margin:0 auto;
    margin-bottom: .8vh; margin-right: .4vw;
}
.tool-icons:hover{ transform: scale(1.14); border: 4px double goldenrod;}

#Tools > .tool-icons {
    border: 4px double black;
     margin-top: .8vw; margin-right: .4vw;
}

#Tools-Extended.HiddenTools{
    visibility:hidden; opacity:0; user-select: none;
    transition: visibility 0s linear 300ms, opacity 300ms ;
}
#Tools-Extended.VisibleTools{
    visibility:visible; opacity: 1; user-select: auto;
    transition: visibility 0s linear 300ms, opacity 3000ms ;
}    
/* Special tool styles*/

.tool-icons[alt=Shifterytrue]{
    animation-name:spin360;
    animation-duration: 11s;
    
    animation-play-state: running;
    animation-iteration-count: infinite;    
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes spin360 {
    from{}
    50%,to{transform: rotateZ(360deg);}
}
