* {
    text-align: center;
}

/* Show the message only when JavaScript is disabled */
noscript .js-required-message {
    display: block;
    color: red;
    /* Optional: Style the message */
}

/* Hide the message by default -- this idea can be implemented by hiding the message with Javascript, else rendering this.
noscript area is also valid
*/
.js-required-message {
    display: none;
}
/*Remove the left margin from non list items*/

ol>img,
ul>img {
    margin-bottom: 4vh;
}

ol>li {
    text-align: left;
    font-size: larger
}

ul>li {
    text-align: left;
    font-size: smaller;
}

img {
    max-width: 45%;
    height: auto;
}

h2 {
    font-size: medium
}

h2::first-line {
    font-size: x-large;
}

.full-size-img {
    max-width: 95vw;
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: .2rem .4rem;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-nav .branding {
    font-size: 1rem;
    font-weight: bold;
    width: fit-content;
}
.branding>*{display:inline-block; vertical-align: middle}
.branding img{display:block;width:min(150px,min(24vh,40vw));height:auto;}
.main-nav .nav-actions {
    display: flex;
    gap: 1rem;
}

.main-nav .nav-actions button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    /* background-color: #007bff; */
    color:#000;
    cursor: pointer;
}

.nav-actions:hover, button:hover {
    background-color: #80808055;
    -webkit-text-stroke: min(0.08em,0.5px) black;
    color:white;
}