::-webkit-scrollbar {  width: 0; }


#Tools { 
    position: fixed; right: 0; top: 0;
    height: max-content; width: max-content;
    padding-right: 1px; 
}

.tool-icons{
    cursor:pointer;
    display: block;
    background-color: aqua;
    border-radius: 50%; border: 0.2vh solid navy;
    height: max(5vh,5vw); width: max(5vh,5vw);
    margin:0 auto;
    margin-bottom: .8vh; margin-right: .4vw;
}
.tool-icons:hover{ transform: scale(1.14); border: 4px double goldenrod;}

#Tools > .tool-icons {
    border: 4px double black;
     margin-top: .8vw; margin-right: .4vw;
}

#Tools-Extended.HiddenTools{
    visibility:hidden; opacity:0; user-select: none;
    transition: visibility 0s linear 300ms, opacity 300ms ;
}
#Tools-Extended.VisibleTools{
    visibility:visible; opacity: 1; user-select: auto;
    transition: visibility 0s linear 300ms, opacity 3000ms ;
}    
/* Special tool styles*/

.tool-icons[alt=Shifterytrue]{
    animation-name:spin360;
    animation-duration: 11s;
    
    animation-play-state: running;
    animation-iteration-count: infinite;    
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes spin360 {
    from{}
    50%,to{transform: rotateZ(360deg);}
}

/* Slider */
.Dark-Body{ color:white;
    border:4px double #afafaff9; 
    background: radial-gradient(circle, #fafafada, #090909dd, gray);
    -webkit-text-stroke:  .2px #09090999;
}
.Light-Body{ color:black;
    border:4px double #9090909f;
    background: radial-gradient(circle, white, #fafafada, gray, azure);
    -webkit-text-stroke:  .2px #fafafa4f;
}
#LD-slider{
    cursor: pointer;
    position: fixed;
    bottom:0; right:0;
    margin:2vw;
    width:min(4rem,14vw);
    padding: 1vw  ;
    border-radius: 12%;
}
.Dark-slider{
    border: .4vmin double lightslategrey;
    background-color:#fafafac4;
}
.Light-slider{
    border: .4vmin double #00000099;
    background-color: #03030399;
}

#LD-icon{ 
    border: 0.6vw double;
    height: 6vw; width: 6vw; 
    max-height: 3.5vh ; max-width: 3.5vh;
    padding: 4%;
    text-align: center;
    border-radius: 50%;
    background-size: contain; background-position-x: center; background-position-y: center;
    transition: 0.5s;
}

#LD-icon:hover{
    transform: scale(1.2);
}
.Light-icon{
    float:left; 
    border-color: #000; background-color:white;
    background-image: url(../i/Icons/64-BIT/Uni-Sun.png);
}

.Dark-icon{
    float:right; 
    border-color: white; background-color:black;
    background-image: url(../i/Icons/64-BIT/Uni-Moon.png);
}


footer {
    display: flex;
    align-items: center;
    margin: 0 auto; margin-top: 0.8vh; margin-bottom: 0.4vh;
    color: #000;
    padding: 0.1% 0.4%;
    width: 94%;
    text-align: center;
    border: 1vmin double #fff000;
}

footer > * { margin: 0 auto; width: 65vw; }
footer  > img { 
    vertical-align: middle;  
    width: min(7vw,5vh); height: min(7vw,5vh);
    background-color: #fafafa55;   
}

#Bloodworks{  margin-left: 2%;
    font-size:min(3vw,2vh); margin-right: 0; margin-top: 0; margin-bottom: 0;
    padding:0.3%; 
    background-color: #fafafa55;   
}
