:root {

    --Rainbow-Background: #ddaa00, #ff11ff, #11ffad, #aadddd, #ddaa00, #ff11ff, #11ffad, #aadddd, #ddaa00, #ff11ff, #11ffad, #aadddd, #ddaa00, #ff11ff, #11ffad;

    /*Dynamic Colours*/
    --light-color-theme-A: aliceblue, lightblue, white;
    --dark-color-theme-A: gray, black, slategray;
    /* Alternate Colours */
    --light-color-theme-B: white, lightblue, yellow, salmon;
    --dark-color-theme-B: gray, black, blue, slategray;

    /*Universal settings*/
    --font-XXL:min(max(2.4rem,8vw),82px); /* Normally for small scale icons*/
    --font-L:min(max(4.75vw, .85rem),64px); /* Max 48px */
    --font-ML:min(max(4vw, .7rem),48px); /* Max 48px */
    --font-M:min(max(3.2vw, .6rem),36px); /* Max 48px */
    
    /* Padding & Margin*/
    /*Small padding (no horizontal)*/
    --padding-scale-large-top:min(8dvh, 6vw) 1% 2% 1%;

    --padding-scale-xs-noV: 0 min(2dvh, 1vw) 0 min(2dvh, 1vw) ;
    --padding-scale-xs-noH:min(2.4dvh, 1.2vw) 0 min(2.4dvh, 1.2vw) 0;
    --padding-scale-xs:min(2dvh, 1vw) min(2dvh, 1vw) min(2dvh, 1vw) min(2dvh, 1vw); 
    --body-content-seperator:min(.5vh,10px);
    --body-content-seperator-double:min(1vh,20px);
    --body-content-margin-top:min(1vh,20px); 
    /* Border */

    /* Header Settings*/
    --header-img-width:min(20vw, 4.8em);
    --nav-img-width:min(15vw,4em);
}

*{
    margin:0;
    padding:0;
}
::-webkit-scrollbar,iframe::-webkit-scrollbar {
    width: 0;
    display: none;
}
button,a{
    cursor:pointer;
}
body {
    background-color: #000000;
  }
  


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* margin-top: 0.8vh; */
    overflow: scroll;
    overflow-x: hidden;
    /* height: 200dvh; */
}

body {
    overflow: initial;
    margin: 0 auto;
    width: 100vw;
    height: fit-content;
    background-color: #11ffad66;
    padding: .2rem;
}

body > * , .Socials_Container {
    margin-top:var(--body-content-seperator);
} 

/* hr:not(#hr1){margin: 1%;} */

p {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}


.rainbow_text {
    /**/
    display: inline-block;
    background: linear-gradient(to right, pink, violet, purple, indigo, blue, aqua, lightseagreen, seagreen, green, darkgreen, yellow, gold, orange, crimson, red);
    background-clip: text;
    color: transparent;
}

.slider_selected{
    border: 4px solid gold;
}

/*******************************************************/
/* Header */

header {
    position:relative;
    padding: .4rem 0;
     /* var(--padding-scale-xs); */
    border-top: 1vmin groove gray;
    border-bottom: 1vmin groove gray;
    font-family: Lobster, monospace;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#hr1 {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

h1 {
    padding:.6rem .8rem;
    background: url(../heading-background.png);
    background-size: cover;
    background-clip: padding-box;
    background-position:center;
    filter:drop-shadow();
    height: min-content;
    /* margin-bottom:2dvh; */
    -webkit-text-stroke: .02em #000;
}

#Hello_Text,#Hello_Binary{
    cursor:pointer;
    border-bottom: 1px solid #000; font-weight: bold;
}


h1 p {
    font-size:var(--font-L);
}
h1 span{
    display:inline-block;
}

/* Hello my name is ..*/
#intro-text {
    border-bottom: 1px gray;
    font-size: var(--font-M);
    vertical-align: middle;
}
#intro-text > p{display:inline-block;}

#intro-text-profile-name {
    font-size:var(--font-L);
    vertical-align: middle;
    display:inline-flex; /** remove space between letters*/
    -webkit-text-stroke: .03em gold;
}
/* #intro-text-profile-name {} */

#sub-intro {
    font-size: min(.68em, 32px);
    /* color:#000; */
}


/*******************************************************/
/* Main */

main {
    padding: var(--padding-scale-xs-noH);
}

main>* {
    padding: var(--padding-scale-xs-noH);
    vertical-align: middle;
    text-align: center;
    border-top: .01em double yellow;
    border-bottom: .01em double yellow;
}


#main-about {
    font-size: 4.8vw;
}

#slider-container {
    display: flex;
    justify-content: center;
}

/*Contains  slider_main_img & slider_slides */
#main-image-container {
    width:100%;
    padding: 2.4% .8%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.slider_prev,.slider_next{
    cursor:pointer;
    display: flex;
    align-items: center;
    height:100%;
    background-color:#fafafa4f;
    text-align: center;

}
.slider_prev{
    margin-right:0;
}
.slider_next{
    margin-left:0;
}


/*image slider*/
#main-image-slider {
    display: block;
    position: relative;
    margin-top: 2%;
    border: 2px solid #1dafad20;
    margin-bottom: 5%;
}

#slider_img_main{
    cursor: -webkit-zoom-in;
}

.image-flex-slider {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    background-color: #00000080;
    padding: 1%;
}

.flex-slider-item {
    cursor: pointer;
    width: 30%;
    margin-bottom: 10px;
    padding: .1em;
}

.flex-slider-item:not(.slider_selected){
    border: 4px double #afafaf;
}

.flex-slider-item img {
    width: 100%;
    height: auto
}

#about-text {
    margin-top:var(--body-content-margin-top) ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*******************************************************/
/***** PROJECTS ******/
#about-projects{
    padding: 1vh 0;
}
/* Projects title */
h5{ 
    text-align: center; 
    font-size: large;
    font-weight:500;
    padding:1vh min(.4vh,2vw);
}

.project-button{
    cursor:pointer;
    font-size:larger; margin: 1%; padding:.5%;
}

.project_refs>li{
    text-align: left;
    margin:1%;
    padding:1%;
    font-size: var(--font-ML);
}

/*******************************************************/
/* Footer */



/* *SPECIAL STYLES* */
/*Rainbow wave .*/
@keyframes wave {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    99.99%{-webkit-text-stroke: 1.9px gold; }
}

.rainbow-wave-text {
    cursor:pointer; /*Let user know this element is interactive*/
    display:inline;
    font-size: .6em;
    font-family: Arial, sans-serif;
    white-space: nowrap; /* Prevent line break after each letter */
    overflow: hidden; /* Hide overflow caused by white-space: nowrap */
    display: inline-block;
    position: relative;
}

.rainbow-wave-text .RT {
    display: inline-block;
    animation:wave 1s 5;
    animation-delay: calc(0.1s * var(--index)); /* Adjust delay based on letter index */
    white-space: nowrap; /* Prevent line break after each letter */
    overflow: hidden;  /* Hide overflow caused by white-space: nowrap  */
    position: relative;
    z-index: 1;
}

.rainbow-wave-text .RT::before {
    content: attr(data-letter);
    display: block;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;    
}

  .rainbow-wave-text span:nth-child(1) {--index: 0;}

  .rainbow-wave-text span:nth-child(2) {--index: 1;}

  .rainbow-wave-text span:nth-child(3) {--index: 2;}

  .rainbow-wave-text span:nth-child(4) {--index: 3;}

  .rainbow-wave-text span:nth-child(5) {--index: 4;}
/* 
  #iframeDialog{
    width:100vw;
    height:200vh;
    margin:0 auto;
    margin-top: 5%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
  }
  #iframeDialog::backdrop{
    background-color:white;
    opacity:0.9;
  }
  #iframeTitle{width:100%;}
  #iframeTitle::first-line{
    font-size: 2.4em;
  }

  #close_iframe_dialog{
    position:absolute; right:0; top:0;
    -webkit-text-stroke: .01em red;
}
#iframeDialog button {
    font-size: 1.8em;
    margin:1%; padding:.3em;
}
#dialog_iframe{
    height:100%;
    vertical-align: middle;
} */