::-webkit-scrollbar {  width: 0; }

#Tools { 
    position: fixed; right: 0; top: 0;
    height: max-content; width: max-content;
    padding-right: 1px; 
}

.tool-icons{
    display: block;
    background-color: aqua;
    border-radius: 50%; border: 0.2vh solid navy;
    height: max(5vh,5vw); width: max(5vh,5vw);
    margin:0 auto;
    margin-bottom: .8vh; margin-right: .8vw;
}

#Tools > .tool-icons {
    border: 4px double black;
     margin-top: .8vw; margin-right: .4vw;
}



/* Slider */
#LD-slider{
    cursor: pointer;
    position: fixed;
    bottom:0; right:0;
    margin:2vw;
    width:13vmin;
    padding: 1vw  ;
    border-radius: 12%;
}
.Dark-slider{
    border: .2vw double lightslategrey;
    background-color:#fafafa99;
}
.Light-slider{
    border: .2vw double #00000099;
    background-color: #77889999;
}

#LD-icon{ 
border: 0.6vw double;
height: 6vw; width: 6vw; 
max-height: 3.5vh ; max-width: 3.5vh;
text-align: center;
border-radius: 50%;
background-size: contain; background-position-x: center; background-position-y: center;
transition: 0.5s;
}

#LD-icon:hover{
    transform: scale(1.2);
}
.Light-icon{
    float:left; 
    border-color: #000; background-color:white;
    background-image: url(../i/Icons/64-BIT/Uni-Sun.png);
}

.Dark-icon{
    float:right; 
    border-color: white; background-color:black;
    background-image: url(../i/Icons/64-BIT/Uni-Moon.png);
}
