@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Share+Tech+Mono&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* This file contains root variables and media queries */
:root {
    
    /* Light Mode */
    --light-mode-bg:linear-gradient(to bottom, #39cccc,#001f3f), 
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 10px,
      rgba(0, 0, 0, 0.05) 10px,
      rgba(0, 0, 0, 0.05) 20px
    );
    --light-mode-content-bg: #f8f8f8;
    --light-mode-rainbow:linear-gradient(-70.9deg, rgb(255, 215, 0), rgb(255, 160, 122), rgb(238, 130, 238), rgb(152, 251, 152));
    
    /* Dark Mode */
    --dark-mode-bg:linear-gradient(to bottom,#0d1b2a,#1b263b,#415a77), 
    repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05) 10px,
      rgba(0, 0, 0, 0.05) 10px,
      rgba(0, 0, 0, 0.05) 20px
    );
    --dark-mode-content-bg: #333333;
    --dark-mode-rainbow: linear-gradient(-70.9deg, rgb(255, 69, 0), rgb(255, 140, 0), rgb(255, 99, 71), rgb(255, 20, 147));
    


    --Rainbow-Background: #ddaa00, #ff11ff, #11ffad, #aadddd;
    --light-color-1:purple;
    --light-color-2:#ff11ff;

    --container-background:#fafafaaa;

    /*Dynamic Colours*/
    --light-color-theme-A: #FFD1DC, #BFD8D2, #DFD3C3, #F0E6EF;
    --light-color-theme-B: #FFD700, #FFA07A, #EE82EE, #98FB98;
    --dark-color-theme-A: gray, black, slategray;
    --dark-color-theme-B: gray, black, blue, slategray;

    /*Universal settings*/
    --font-XXL:min(max(2.4rem,8vw),82px); /* Normally for small scale icons*/
    --font-XL:min(max(6.5vw, .1rem),72px); /* Max 72px */
    --font-L:min(max(4.75vw, .85rem),64px); /* Max 64px */
    --font-LS:min(max(4.2vw, .75rem),56px); /* Max 56px */
    --font-ML:min(max(4vw, .7rem),48px); /* Max 48px */
    --font-M:min(max(3.2vw, .6rem),36px); /* Max 36px */
    --font-MS:min(max(2.8vw, .5rem),32px); /* Max 32px */
    --font-S:min(max(2.4vw, .5rem),24px); /* Max 24px */

    /* Padding & Margin*/    
    --padding-left-L:min(4vw,24px);
    --padding-vertical-M:min(.4em,2vh);
    --padding-vertical-L:min(.6em,4vh);
    /*Small padding (no horizontal)*/
    --padding-scale-large-top:min(8dvh, 6vw) 1% 2% 1%;
    --padding-scale-xs-noV: 0 min(2dvh, 1vw) 0 min(2dvh, 1vw) ;
    --padding-scale-xs-noH:min(2.4dvh, 1.2vw) 0 min(2.4dvh, 1.2vw) 0;
    --padding-scale-xs:min(2dvh, 1vw) min(2dvh, 1vw) min(2dvh, 1vw) min(2dvh, 1vw); 
    
    /* Border */
    --border-width-XS: min(1px, .1em);
    --border-width-S: min(2px, .2em);
    --border-width-M: min(4px, .4em);
    --border-width-L: min(8px, .8em);

    /* Seperate content */
    --body-content-seperator:min(.5vh,10px);
    --body-content-seperator-double:min(1vh,20px);
    --body-content-seperator-L:min(2vh,24px);   
    --body-content-seperator-XL:min(3vh,36px); 
    --body-content-margin-top:min(1vh,20px); 
    --body-content-margin-double:min(2vh,40px); 
  
    /* Border and Shadows*/ /* Please give these better names*/
    --box-shadow-1: 8px 6px rgba(0, 0, 0, .8);
    --box-shadow-2: 6px 4px rgba(0, 0, 0, .8);

    /* Header Settings*/
    --header-img-width:min(12vw, 4.6em);
    --nav-img-width:min(15vw,4em);

    /* Scalable Images */
    --extra-large-img-width:min(50vw, 16.5em);
    --large-img-width:min(45vw, 15em);
    --medium_large-img-width:min(40vw, 13.5em);
    --medium-img-width:min(35vw, 12em);
    --small_medium-img-width:min(30vw, 10.5em);
    --small-img-width:min(25vw, 9em);
    --tiny_small-img-width:min(20vw, 7.5em);
    --tiny-img-width:min(15vw, 6em);
    --extra-tiny-img-width:min(5vw, 4.5em);



    --sun-color: #FFD700;
    --moon-color: #FFF;
}



#link_display {
    width: 100%;
    display: grid;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px inset gray;
    gap: 10px;
    padding: min(1vw,10px);
}

#link_display strong {
    font-size:var(--font-ML);
    font-family: 'Spectral SC', serif;
}
#link_display p{
    font-size: var(--font-S);
    font-family: 'Share Tech Mono', monospace;
}

.link_container {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    max-width: 100%;
}

.link_container img {
    width: 100%; /* Set wivdth to 60% of the container */
    /* max-width: 20vw; Ensure images do not exceed their container's width */
    /* min-width: min(60px,30vw); Ensure images do not shrink below their intrinsic size */
    height: auto; /* Maintain aspect ratio */
    object-fit: fill; /* Ensure the image fits within the specified dimensions */

}

.link_container p {
    margin: 5px 0;
}

.small {
    color: green;
    display: block;
    text-decoration: none;
}
