/*  HIDDEN BOX  */
#hiden {
    
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23);
 
}

#hiden button {
    position: absolute; left: 0.5%; top: 0.5%; 
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    color: #fff; background-color: #000; border-radius: 22%;
    font-size: 4vmin; height: min-content;
}

h4 {
    font-size: 36px;
    text-align: center;
    margin-top: -10px;
    width: 80%;
    background-color: #faebd799;
    -webkit-text-stroke: 0.05vmin goldenrod;
}

#about {
    font-size: 3vw;
    background-color: #f0f8ff55;
    border-radius: 30% 30% 0 0;
}

.projects  {  max-width: 30vw; display: inline-table; margin: auto; vertical-align: top;}
.projects > *  {
   border: 0.9vmin double  #000;
    font-size: 3vw; 
    background-color: #11ffad;
}
.projects > * > * {
    border: 0.05vmin solid #000;
}
.projects >ul>label {
    font-size: 4vw;
    text-align: center;
    display: block;
}
 ul { 
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    list-style-image: url(i/BloodWebX4.png); 
}
li:hover{
    background-color: aliceblue;
    color: blue;
    cursor: pointer;
}