/* About me && SubPages*/
/* Nav About */
.Aboutdropdown {
    position: absolute; display: inline-block; z-index: 2;
    border: 0.01vmin solid #00000011;}
  
.Aboutdropdown-content {
    display: none; cursor: pointer;
    background-color: #aaaaffa5;
    min-width: 100px; height: content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px; z-index: 1;}

.Aboutdropdown:hover .Aboutdropdown-content {display:block; }


/* MAIN */


#about { box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-size: 3vw;
    background-color: #f0f8ff55;
    border-radius: 30% 30% 0 0;
}

#about button {
    position: absolute; left: 0.5%; top: 0.5%; 
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    color: #fff; background-color: #000; border-radius: 22%;
    font-size: 4vmin; height: min-content;
}

h4 {
    font-size: 36px;
    text-align: center;
    width: 80%;
    background-color: #faebd799;
    -webkit-text-stroke: 0.05vmin goldenrod;
}


.projects  {  max-width: 30vw; display: inline-table; margin: auto; vertical-align: top;}
.projects > *  {
   border: 0.9vmin double  #000;
    font-size: 3vw; 
    background-color: #11ffad;
}
.projects > * > * {
    border: 0.05vmin solid #000;
}
.projects >ul>label {
    font-size: 4vw;
    text-align: center;
    display: block;
}
 ul { 
    list-style-position: inside;
    padding-left: 0;
    text-align: left;
    list-style-image: url(i/BloodWebX4.png); 
}
ul>li:hover{
    background-color: aliceblue;
    color: blue;
    cursor: pointer;
}

/* ABout - Contact */

#Contact > * { display: block;}
.MailButton{
    background-image: url(/i/Mail.png);
}