:root{
    --Mainro:180deg;
    --rotation-direction:360deg;
    --icon-background:
        20deg,
        #fff000,
        #fff, green,
        #000
    ;
    --deep:blue;
}
/* Profile */
.mainx {
    cursor: move;
    position: absolute;
   right: 0;
    top: 0;
    height: 24vmin;
    width: 24vmin;
    margin-top: 0.4vw;
    margin-right: 1vw;
    margin: 2vmax;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    background:  linear-gradient(
        35deg,
        #eeaaaa,
        #aaaa99
      ); 
      background-image: url(i/Profile.jpg);
      background-size: contain;
      background-position: center;
} 
.mainx:hover {
    animation-name: SpinMain;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards ;
}
.mainx:hover::after{
    background-image: url(i/Profile.jpg);
}
@keyframes SpinMain {
    0% {
        transform: scale(1.3) rotateY(var(--Mainro));
    }
    50% {
        transform: scale(1.5) ;opacity: 0.9;
    }
    60%{}70%{}
    80%{}90%{}
    100%{background-image: url(i/profile2.jpg) ;}
}

/* Icon Boxes */
#IconBox {
   position: absolute;
   bottom: 0; 
   padding: 1vw;
   padding-bottom: 1vmax ;
}
.Boxes{
    display: block;
    margin: 1%;
    padding: 0.5%;
    width: max-content;
}
.lower {
    background-color: #ccffff55;
}
.upper {
    background-color: #ffccff55;  
}

/*Single items*/

.Rotern{ display: inline-block;
    width: min-content;
    height: fit-content;
    opacity: 0.5;
}
.Rotern > a {
    height: 100%;
    width: 100%;
}
.balls { 
    display: inline-block;
    position: relative;
    height: 12vmin;
    width: 11vmin; 
    border-radius: 50%;
    background:  linear-gradient(
        35deg,
        #ccffff,
        #ffcccc
      );
      background-color: #fff;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: center ;
    cursor: pointer;
    border: 0.1vmin solid gold;
}


.Rotern:hover {
    animation-name:Ball-Background ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#Dhands:hover{opacity: 0;}
p::after {
   
    background-color:black ;
}

/* Ball animations*/


@keyframes Ball-Background{
    0%{
        border-radius: 0%;  
        transform: scale(2) rotate(var(--rotation-direction));
    }
    50%{transform: scale(2) ;opacity: 0.9;}
    60%{}
    70%{}
    80%{}
    90%{border-radius: 5%;}
    100%{ opacity: 1;  border-radius: 10%;
    background: linear-gradient(var(--icon-background)); 
    }
}
