/* ADD commets to sections for easier code alterations*/
/*Elements--Animation--Classes--UNorg--ID*/
* {
    cursor: crosshair;
    margin: 0 auto;
}
html{
    overflow: scroll;
    overflow-x:hidden ;
}
::-webkit-scrollbar{
    width:0;
}
body {
    cursor: crosshair;
    width: 100vw;
    height: fit-content;
    overflow: hidden;
    background-color: #fff000;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
  
}

header{
    font-family: Lobster, monospace;
    width: fit-content;
    float: left;
}
h1 > u {
    font-size: 11.4vmin;-webkit-text-stroke: 0.11vmin gold;
    color: #888; 
}
h1 {
    font-size: 6vmin;
    color: #fff;
    width: min-content;
    height: fit-content;
    position: relative;
    display: inline;
}
h1>strong:first-of-type{
    -webkit-text-stroke: 0.05vmin goldenrod;
    font-size: 9.4vmin;
}



h2 {
    font-size: 4vmin;
    float: left;
    max-width:60vw;
    position: absolute;
    color: #000;
}
h2 >strong {
    color: #fff;
}
#flipbutton{
    
    position: absolute ; right: 0; top: 0; z-index: 2; height: 8vmin; width: 8vmin; border-radius: 10% 40% 10% 60% ;
}
#flipbutton > * {
    font-family:Helvetica, sans-serif;
    text-align: center;
    text-decoration:  line-through;
}
#flipbutton:hover{
    color: #ffff;

    background: linear-gradient(
        100deg,
        #aaaaff,
        #11aaff,
        #ff11aa,
        #990099,
        #11ffad
    );    
    
}
/* h4 - hidden*/
h4 {
    font-size: 36px;
    text-align: center;
    margin-top: -10px;
}


canvas {
    cursor:wait;
    background-color: #11aaff;
    border: 1px solid #000;
}



/***********************/
/*   Hidden Box  */   
#DeveloperArea {
    display: none;
}

.PictureBox {
    display: inline-block;
    max-width: 1000px;   
}
.picz {
    height: 100px;
    width: 100px;
}
/* Box main area, this wraps the card, should probably be left alone */

.ttest {
    right: 400px;
}


/* I am the text box under the image */
.textbox p {
    font-family:'Jim Nightshade', cursive ;
    font-size: 160%;
   
    font-weight: bold;
    margin-top: 2px;
}
.textbox a {
    opacity: 0;
    margin-top: -10px;
    position: relative;
}
.textbox { 
    z-index: 1;
    height: 150px;
    width: 150px;
    top: 200px;
    right: -800px;
    position: relative;
   
    background-color: lightgray;
    border-color: #11ffad ;
    border-width: 10px 8px 8px 8px;
    border-style: double;
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

/*****************************************************************/
/* Hover animation and key frames, */


.textbox:hover {
    background-color: #11ffad;
    max-height: 150px;
   
    
}
/*****************************************************************/
/* end of classes - start of IDS */
/*****************************************************************/
/* Image slider*/
#image-slide1 {
    background: url(i/Hwiki.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    display:flex;
    color: #fff;
    text-align: center;
}
#href-link1 {
    font-size: 15px;
    font-style: oblique;
    color: #000;
    font-weight: bold;
    background: #fff;
}
#span {
    position: relative;
    margin-top: -50px;
    text-align:inherit;
    left: 50px;
}
#scale {
    height: 100px;
    width: 100px;
    background: url(../../Pictures/PUFF/fatbar.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
}
#boxmain {
    background: linear-gradient(
        40deg,
        #aadddd,
        #ddaa00,
        #ff11ff,
        #11ffad
    );
}

.box-main { 
    position: relative;
    top: 0;
    max-height: 60vh; min-height: 40vh;  height: 60vmin;
    font-size: 5vw;
    padding: 1%;
    border-radius: 1%;
    border: 2px solid #fff000 ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
/*  HIDDEN BOX  */
#hiden {
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: linear-gradient(
        40deg,
        #aadddd,
        #ddaa00,
        #ff11ff,
        #11ffad
    ); 
}
#hiden button {
    box-shadow: 0 10px 20px rgba(1,0,1,0.19), 0 6px 6px rgba(0,0,0,0.23); 
    margin: 2px;
    color: #fff;
    background-color: #000;
    border-radius: 22%;
    font-size: 20px;
}
#about {
    font-size: 3vw;
}
#About {
    top: -10px;
    color: #00aaff;
    background-color: #fff;
    opacity: 0;
    margin: 4px;
    font-size: 20px;
    text-decoration: underline;
    border-top: 2px solid #8a2be2;
    border-left: 4px ridge #aaaaff;
    border-right: 4px ridge #aaaaff;
    border-bottom: 2px solid #8a2be2;
}


/*Rotatered??*/
#HT{opacity: 0;}
#Bweb {
    background-image: url(i/Bloodweb/BloodWeb.png); 
  }
#HB{opacity: 0;}
#Dhands { opacity: 0.5;
    background-image: url(i/dhands.jpg); 
}
#Duo {background-image: url(i/DL.png);
}    
#Fb {
background-image: url(i/FB.png); 
}
#Git {
background-image: url(i/git.png);}
#Stack {background-image: url(i/Stack.png); background-color: white;}
#Redd {
background-image: url(i/redit.png); 
}
#LinkD {
background-image: url(i/linkd.png); background-color: #00aaff;
}
#Pint {background-image: url(i/Pint.png);  background-color: red ;}
#Certs{background-image: url(i/Cert.png); background-color:gold ;
}
#Igg {
background-image: url(i/Insta.jfif);
}

#Mail {
background-image: url(i/Mail.png);  
}



#Tik {
background-image: url(i/tik.png);
}
#Twit {
 background-image: url(i/TWITTER\ CC.png); 
} 

footer {
    margin: 1%;
    text-align: center;
}
form>*{
    display: block;
    height: 3em;
   font-size: 3vmin;
}

form { 
    
    background-color: #aaaaffee;
    background-image: url(i/purpleheart.png);
    background-size: 10%;
    background-repeat: repeat;
    width: fit-content;
    max-height: 26vh;
    padding: 1%;
    border: 0.49vmax  double purple;
}



/*#######################*/

#reverse {
    opacity: 0;
}
#reverse2 {
    background-color: #000;
}

/* debugging tools*/

#cluster1 {
    background-color: #000;
    border: 40px solid #000; 
    width: 400px;
    height: 400px;
    position: absolute;
    float: right;
   
}
#Special0 {
    box-shadow: inset -20px -5px 20px -2px #888,
    10px 10px 2px 2px #888;
    float: left;
   
   
}
#Special1 {
    box-shadow: inset -20px -5px 20px -2px #888,
    10px 10px 2px 2px #888;
    float: right;
 
  
}   
#Special2 {
        box-shadow: inset 20px 5px 20px -2px #888,
         10px 10px 2px 2px #888;
        float: left;
     
}       
#Special3 {
        box-shadow: inset 20px 5px 20px -2px #888,
        10px 10px 2px 2px #888; 
        float: right;     
}    
#Special4 {
        box-shadow: inset 20px 5px 20px -2px #888,          
        10px 10px 2px 2px #888;
         margin-top: 20px;
        float: right;
        }