#QuoteBox {
    display:block; z-index:4; color:gray; 
    margin:0 auto; margin-bottom: 2vh; text-align:center;
    padding:0.2% 5% 3% 5%;
    background-color:#fafafa; border:2vmin double red; 
    -webkit-text-stroke:0.1vmin gold;
}

#TimeQuoteBox{
    font-size: 3vw; text-align: right; display: inline-block; right: 100%;
    color: #000; -webkit-text-stroke:0.1vmin gold; margin: 0 10% 6% 0;
}

#QuoteBoxP{background-color:#f5f5f555; text-align: left;
}
#QuoteBoxP::before{content:'Quote';font-size:6vw;-webkit-text-stroke: 0.3vw black;}
#QuoteBoxP::first-letter{font-size: 8vw;}
#QuoteBoxP::first-line{font-size: 3.2vw;}

#CloseQuoteBox { position: absolute; right: 2.2%;padding:1%; 
     -webkit-text-stroke:1vw red; border: 1vw solid #ff000055;
     font-size:large; opacity: 0.7; }
#CloseQuoteBox:hover{transform: scale(1.2); background-color: #ff000055;}

.Tasklist{
    margin-bottom: 1vh; padding: 1%;
}
.TaskTitle{
    color:#11ffad; -webkit-text-stroke: 0.225vmin #990099;
}



@keyframes HomeAnimation {
   0%{background:linear-gradient(0deg,salmon,lightpink);}
    1%{background:linear-gradient(3.65deg,salmon,lightpink);}2%{background:linear-gradient(7.3deg,salmon, lightpink);}3%{background:linear-gradient(10.95deg,salmon, lightpink);}4%{background:linear-gradient(14.6deg,salmon, lightpink);}5%{background:linear-gradient(18.35deg,salmon, lightpink);}6%{background:linear-gradient(22deg,salmon, lightpink);}7%{background:linear-gradient(25.65deg,salmon, lightpink);}8%{background:linear-gradient(29.3deg,salmon, lightpink);} 9%{background:linear-gradient(32.95deg,salmon, lightpink);}10%{background:linear-gradient(36.6deg,salmon, lightpink);}
    11%{background:linear-gradient(40.15deg,salmon,lightpink);}12%{background:linear-gradient(43.8deg,salmon, lightpink);}13%{background:linear-gradient(47.45deg,salmon, lightpink);}14%{background:linear-gradient(51.1deg,salmon, lightpink);}15%{background:linear-gradient(54.75deg,salmon, lightpink);}16%{background:linear-gradient(58.4deg,salmon, lightpink);}17%{background:linear-gradient(62.05deg,salmon, lightpink);}18%{background:linear-gradient(65.7deg,salmon, lightpink);} 19%{background:linear-gradient(69.35deg,salmon, lightpink);}20%{background:linear-gradient(73deg,salmon, lightpink);}
    21%{background:linear-gradient(76.65deg,salmon,lightpink);}22%{background:linear-gradient(80.3deg,salmon, lightpink);}23%{background:linear-gradient(83.95deg,salmon, lightpink);}24%{background:linear-gradient(87.6deg,salmon, lightpink);}25%{background:linear-gradient(91.25deg,salmon, lightpink);}26%{background:linear-gradient(94.9deg,salmon, lightpink);}27%{background:linear-gradient(98.55deg,salmon, lightpink);}28%{background:linear-gradient(102.2.3deg,salmon, lightpink);} 29%{background:linear-gradient(105.85deg,salmon, lightpink);}30%{background:linear-gradient(109.5deg,salmon, lightpink);}
    31%{background:linear-gradient(113.15deg,salmon,lightpink);}32%{background:linear-gradient(116.5deg,salmon, lightpink);}33%{background:linear-gradient(120.45deg,salmon, lightpink);}34%{background:linear-gradient(124.1deg,salmon, lightpink);}35%{background:linear-gradient(127.75deg,salmon, lightpink);}36%{background:linear-gradient(131.4deg,salmon, lightpink);}37%{background:linear-gradient(135.04deg,salmon, lightpink);}38%{background:linear-gradient(138.7deg,salmon, lightpink);} 39%{background:linear-gradient(142.35deg,salmon, lightpink);}40%{background:linear-gradient(146deg,salmon, lightpink);}
    41%{background:linear-gradient(149.65deg,salmon,lightpink);} 42%{background:linear-gradient(153.29999999999998deg,salmon,lightpink);} 43%{background:linear-gradient(156.95deg,salmon,lightpink);} 44%{background:linear-gradient(160.6deg,salmon,lightpink);} 45%{background:linear-gradient(164.25deg,salmon,lightpink);} 46%{background:linear-gradient(167.9deg,salmon,lightpink);} 47%{background:linear-gradient(171.54999999999998deg,salmon,lightpink);} 48%{background:linear-gradient(175.2deg,salmon,lightpink);} 49%{background:linear-gradient(178.85deg,salmon,lightpink);} 50%{background:linear-gradient(182.5deg,salmon,lightpink);} 
    51%{background:linear-gradient(186.15deg,salmon,lightpink);} 52%{background:linear-gradient(189.79999999999998deg,salmon,lightpink);} 53%{background:linear-gradient(193.45deg,salmon,lightpink);} 54%{background:linear-gradient(197.1deg,salmon,lightpink);} 55%{background:linear-gradient(200.75deg,salmon,lightpink);} 56%{background:linear-gradient(204.4deg,salmon,lightpink);} 57%{background:linear-gradient(208.04999999999998deg,salmon,lightpink);} 58%{background:linear-gradient(211.7deg,salmon,lightpink);} 59%{background:linear-gradient(215.35deg,salmon,lightpink);} 60%{background:linear-gradient(219deg,salmon,lightpink);} 
    61%{background:linear-gradient(222.65deg,salmon,lightpink);} 62%{background:linear-gradient(226.29999999999998deg,salmon,lightpink);} 63%{background:linear-gradient(229.95deg,salmon,lightpink);} 64%{background:linear-gradient(233.6deg,salmon,lightpink);} 65%{background:linear-gradient(237.25deg,salmon,lightpink);} 66%{background:linear-gradient(240.9deg,salmon,lightpink);} 67%{background:linear-gradient(244.54999999999998deg,salmon,lightpink);} 68%{background:linear-gradient(248.2deg,salmon,lightpink);} 69%{background:linear-gradient(251.85deg,salmon,lightpink);} 70%{background:linear-gradient(255.5deg,salmon,lightpink);} 
    71%{background:linear-gradient(259.15deg,salmon,lightpink);} 72%{background:linear-gradient(262.8deg,salmon,lightpink);} 73%{background:linear-gradient(266.45deg,salmon,lightpink);} 74%{background:linear-gradient(270.09999999999997deg,salmon,lightpink);} 75%{background:linear-gradient(273.75deg,salmon,lightpink);} 76%{background:linear-gradient(277.4deg,salmon,lightpink);} 77%{background:linear-gradient(281.05deg,salmon,lightpink);} 78%{background:linear-gradient(284.7deg,salmon,lightpink);} 79%{background:linear-gradient(288.34999999999997deg,salmon,lightpink);} 80%{background:linear-gradient(292deg,salmon,lightpink);} 
    81%{background:linear-gradient(295.65deg,salmon,lightpink);} 82%{background:linear-gradient(299.3deg,salmon,lightpink);} 83%{background:linear-gradient(302.95deg,salmon,lightpink);} 84%{background:linear-gradient(306.59999999999997deg,salmon,lightpink);} 85%{background:linear-gradient(310.25deg,salmon,lightpink);} 86%{background:linear-gradient(313.9deg,salmon,lightpink);} 87%{background:linear-gradient(317.55deg,salmon,lightpink);} 88%{background:linear-gradient(321.2deg,salmon,lightpink);} 89%{background:linear-gradient(324.84999999999997deg,salmon,lightpink);} 90%{background:linear-gradient(328.5deg,salmon,lightpink);}
    91%{background:linear-gradient(332.15deg,salmon,lightpink);}92%{background:linear-gradient(335.8deg,salmon,lightpink);} 93%{background:linear-gradient(339.45deg,salmon,lightpink);} 94%{background:linear-gradient(343.09999999999997deg,salmon,lightpink);} 95%{background:linear-gradient(346.75deg,salmon,lightpink);} 96%{background:linear-gradient(350.4deg,salmon,lightpink);} 97%{background:linear-gradient(354.05deg,salmon,lightpink);} 98%{background:linear-gradient(357.7deg,salmon,lightpink);} 99%{background:linear-gradient(361.34999999999997deg,salmon,lightpink);}
    100%{background:linear-gradient(365deg,salmon,lightpink);}
}
#Contact { text-align: center;
    background: repeating-linear-gradient(40deg,
    black, #000a00, lightgreen, seagreen,black);
}
#Contact > div > p {text-align: start; margin-top: 1vh; background-color: #faf;}
#Contact > div > a { margin: 8%; display: inline-block;max-width: min-content;   }
#Contact>div>a>*{ display: block;text-align: center; margin: 0 auto;}
.ContactBtns{ 
    display: inline-block; margin: 0 auto; margin: 20vh 0 0 20vh;
    width: 20vw; height: 20vw; 
    border: 1vmin solid greenyellow;
    background-color: #11ffad; background-position: center;
    background-size: contain; background-repeat: no-repeat;
}
.CtBtnsx0{
    background-image: url(i/Icons/Mail.png);
}
.CtBtnsx1{
     background-image: url(i/Icons/Phone.png);   
}
header{
    grid-area: header;
    font-family: Lobster, monospace;
    width: fit-content;
    height: min-content;
    margin-left: 0 ;
}

header > * {
    display: block;
}

h1 > u {
    font-size: 10.8vmin;-webkit-text-stroke: 0.11vmin gold;
    color: #888; 
}
h1 {
    margin-bottom: 1%;   
    text-align: left;
    font-size: 5.5vmin;
    color: #fff;
}
h1>strong:first-of-type{
    -webkit-text-stroke: 0.05vmin goldenrod;
    font-size: 9.1vmin;
}

h2 {
    top: 0;  
    font-size: 3vmin;
    height: min-content;
    max-width:80vw;width: max-content;
    color: #000;
} 

h2 > strong { color: #fff; }
h2 > strong :hover{ color: crimson ;}

.Together > b { 
    width: max-content;
     right: 100;
    text-align: center;
    font-size: larger;  -webkit-text-stroke: 0.01em #11ffad;
    background-color: #f5deb355; 
}

.Together > b::after {content: '💙'; background-color: #99009955; border-radius: 1% 30% 5% 25%;}
.Together > b::before{content: '💙'; background-color: #99009955; border-radius: 30% 1% 25% 5%; }

#ExtendButton { background-color: hsla(159, 100%, 53%, 0.6);
    -webkit-text-stroke: 0.1vmin blue; border: 1vmin double gray;
    border-radius: 50%; text-align: center;
    position: absolute; right: 0; bottom: 0; margin-bottom: 4%; margin-right: 2%;
    max-width: 10vw; max-height: 10vw; height: 20%; width: 20%;
}
#ExtendButton:hover{
    border: 1vmin double gold; 
    color: goldenrod;
    -webkit-text-stroke: 0.1vmin gold; 
}

#ExtendButton  > b {
    margin-top: 0;
    background-color: #ffffff55;
    border-radius: 20% ;
    font-size: 5vmin;
    font-style: italic;
    font-weight: bolder;
}

#ExtendButton > b :hover {
    transform: translate(340deg);
}
#locko{
    position: absolute; top: 1%; right: 1%;
}
#Mainimg {
    grid-area: main;
}





/***********************/
/*   Hidden Box  */   
#DeveloperArea {
    display: none;
}

.ttest {
    right: 400px;
}



/* PAGE 2 Or below*/

.PictureBox {
    position: absolute; text-align: center;
    max-width:80%; height: 90%; bottom:0; 
    left:0; right:0; transform: rotateX(180deg);
     background-color: #11ffad;
     padding-top: 3%; margin-bottom:1%;
 }
 h5 {
     background-color: turquoise; color: #000000cf; text-align: center;
     width: 60%;border-radius: 10% 60% 60% 10%; border: 1vmin double firebrick;
     -webkit-text-stroke: 0.2vmin red;
 }
 .PictureBoxImg {
 display:block;height:65%;width:50%;margin-top: 2%;
     border: 1vmin double fuchsia;
     animation-name: PBox ;
     animation-fill-mode: fowards ;
     animation-duration: 3s; background-color:white;
 }
 .PBrotate{
     animation-name: rotateImg ;
     animation-fill-mode: forwards;
     animation-duration: 1.5s ;
     animation-iteration-count: 1;
     animation-timing-function: ease;
 }
 .PictureBox > button {
     display:inline-block; width:content; height: fit-content; border-radius: 10%;
     background-color: #990099; font-size: 3vmin;
     color:white; -webkit-text-stroke: 0.08vmin black;
 }
 #Right-Carousel, #Left-Carousel {
    position:absolute; top:45%; width: content;
 }
 @keyframes rotateImg {
     0%{ background-color: white;
         transform: rotateZ(1720deg) rotateX(2720deg) rotateY(1360deg) scale(1.9) ;}
     50%{background-color: red;}
     70%{ background-color: #000;}
     80%{background-color: crimson;}
     99%{background-color: #000;}
     100%{background-color: white;} 
 }
 @keyframes PBox {
     0%{ background-color: white;transform: rotateZ(720deg) rotateY(720deg) rotateX(720deg);}
     50%{background-color: #888;}
     70%{ background-color: #000;}
     99%{background-color: crimson;}
     100%{}
}
 



footer {
    margin: 1%;
    text-align: center;
}
form>*{
    display: block;
    height: 3em;
   font-size: 3vmin;
}

form { 
    
    background-color: #aaaaffee;
    background-image: url(i/purpleheart.png);
    background-size: 10%;
    background-repeat: repeat;
    width: fit-content;
    max-height: 26vh;
    padding: 1%;
    border: 0.49vmax  double purple;
}
form > P {
    color: #fff; background-color: palevioletred; 
    border: 2vmin double deeppink;
    margin-top: 1%;  padding: 1%;
    width: fit-content; height: fit-content;
}