/*SPECIAL-BODY-PAGES*/
/*##################*/

/* Special*/
::-webkit-scrollbar{width:0;}
#NavBar_Selected{background-color:#aaaaff55; color:#fcffcf55; -webkit-text-stroke: 0.4vmin goldenrod;
    border:0.5vmin solid #00000099; box-shadow: 0 1vmin 1vmin #00000055, 0 1vmin 1vmin #00000099 ;}

/* Body-Level */

* {margin: 0 auto; box-sizing: border-box;}

html {
    height: 100%;
    overflow: scroll; overflow-x:hidden ;}

body {
    cursor: crosshair; overflow: hidden;
    width: 100vw; height: fit-content;
    background: radial-gradient(circle,#000000da,black,gray); padding: 1%; 
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}


/* Pages, --> .box-main
Home - About(sub) - Recommends - Certificates
Rows will be seperated by '*' */

.box-main { 
    position: relative; top: 0; padding: 1%;
    max-height: max-content; min-height: 40vh;  height: 60vw;
    font-size: 5vw; border-radius: 1%;
    border: 2px solid #fff000 ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    animation: HomeAnimation 3s linear 2s infinite both;
}

/****************************/
/*Home == Home.CSS*/

/****************************/
/*About == About.CSS*/


/*****************************/
/* Recommends */
#Recommends{
    height: max-content;
    padding: 0 0 10vh 0;}

.RecTitle{ text-align:center;
    display:block; margin-bottom: 1vh;
 font-size:10vw; -webkit-text-stroke:1vmin #ff000099;  
}
.Recommendations {
    max-width:88%; min-height: max-content; display: inline-block;
    padding: 0 0 1vh 0; margin:3% auto 0 5%; border:2px solid gray; 
    background-color: aliceblue;
}
.RecomName{
     text-align: center; font-size: larger; font-weight: 700;
     -webkit-text-stroke: 0.1vmin aquamarine; margin-bottom:1vh ;
}
.Recommendations > img {
    width:59%; max-height: 40vw; min-height: 10vw;
    float: right;
}
.Recommendations >button{ 
display: inline; height: content;
 margin: 0 auto; margin-top: 1vh;
background-color: aliceblue; 
 
}
.RecomAbout {
 float: left; vertical-align: top; 
 max-width: 40%;  font-size: 5.5vw;
}
/*****************************/
/* Certificates = Certificates/Certificates.css */

/*****************************/
/* Footer*/
footer{background:repeating-linear-gradient(150deg, rgb(92, 90, 90),white,#afafaf,gray,#cfcfcf,gray,gray,white);
border: 1vmin double #fff000; font-size:3vw;text-align: left;}
footer > * { display: inline-block; margin-left:1vw; vertical-align: middle;}
#cc{font-size: 2vw; max-width: 30vw; margin-left: 8vw;}