/* Special*/
::-webkit-scrollbar{width:0;}
:root {
    --icon-background: 20deg,#fff000,#fff, green,#000;
    --Shiftery-Background: linear-gradient( 40deg,#aadddd,#ddaa00,#ff11ff,#11ffad);
    --Profile-Img-A:url(i/Profile.jpg); --Profile-Img-B:url(i/Profile2.jpg);
    --Main:180deg;  
    --rotation-direction:360deg;
}

#NavBar_Selected{background-color:#aaaaff55; color:#fcffcf55; -webkit-text-stroke: 0.4vmin goldenrod;
    border:0.5vmin solid #00000099; box-shadow: 0 1vmin 1vmin #00000055, 0 1vmin 1vmin #00000099 ;}

.Tasklist{margin-bottom: 1vh; padding: 1%; }
.TaskTitle{color:#11ffad; -webkit-text-stroke: 0.225vmin #990099;}
/* Body-Level */

* {margin: 0 auto; box-sizing: border-box;}

html {
    height: 100%;
    overflow: scroll; overflow-x:hidden ;}

body {
    cursor: crosshair; overflow: hidden;
    width: 100vw; height: fit-content;
    background: radial-gradient(circle,#000000da,black,gray); padding: 1%; 
}

p{ font-family: 'Courier New', Courier, monospace; font-style: italic; }

header {
grid-area: header; margin-left: 0 ;
font-family: Lobster, monospace;
width: fit-content; height: min-content;
}
header > * { display: block; }

footer {
    margin: 1%;
    text-align: center;
}

/* Pages, --> .box-main
Home - About(sub) - Recommends - Certificates
Rows will be seperated by '*' */

.box-main { 
    position: relative; top: 0; padding: 1%;
    max-height: max-content; min-height: 40vh;  height: 60vw;
    font-size: 5vw; border-radius: 1%;
    border: 2px solid #fff000 ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    animation: HomeAnimation 3s linear 2s infinite both;
}

/****************************/
/*Home == Home.CSS*/

/****************************/
/*About == About.CSS*/


/*****************************/
/* Recommends */
#Recommends{text-align: center;
    height: max-content;
    padding: 0 0 10vh 0;}

.RecTitle{ text-align:center; 
    display:block; margin-bottom: 1vh;
 font-size:8.2vw; -webkit-text-stroke:1vmin #ff000099;  
}
.RecommendationsParagraph{ font-size: 3.4vw;
    width: 68%; left:0; margin-left: 1%;background-color:white;
}

.RecommendationsSearch{ display: block; width: 80%; height:min-content; 
     padding: 1%; margin-bottom:1vh; border:0.2vmin solid #000000;
background-color: #afafaf55; } 

#SelectRecType{ padding: 2% 0 2% 0; 
font-size: 3.8vw; text-align: center; color:white; -webkit-text-stroke: 0.05vmin gold;
    background-color:#afafafbb; border:0.2vmin double goldenrod;
}
.RecommendationsType{  font-size: 3vw; color:#000; background-color: #afafafbb;
}
.RecommendationsType:hover{color:white; background-color: #afafaf;}

#RecommendationsField{ display: flex; flex-wrap: wrap;
width: 100%;  height: fit-content; margin:0 auto; padding:  1vh 0 2vh 0;
border: 2px solid red;}
/* Rec Boxes */

.Recommendations { 
    max-width:44%; min-height: 4vw; display: inline-block;
    padding: 0 0 1vh 0; margin:3% auto 1% auto; border:2px solid gray; 
    background-color: aliceblue;
}
.RecomName{
     text-align: center; font-size: larger; font-weight: 700;
     -webkit-text-stroke: 0.1vmin aquamarine; margin-bottom:1vh ;
}
.Recommendations > img {
    width:59%; max-height: 40vw; min-height: 10vw;
    float: right;
}
.Recommendations > button{ 
display: inline; height: content;
 margin: 0 auto; margin-top: 1vh;
background-color: aliceblue; 
 
}
.RecomAbout {
 float: left; vertical-align: top; 
 max-width: 40%;  font-size: 2.8vw;
}

/*****************************/
/* Certificates = Certificates/Certificates.css */

/*****************************/
/* Footer*/

footer{background:repeating-linear-gradient(150deg, rgb(92, 90, 90),white,#afafaf,gray,#cfcfcf,gray,gray,white);
border: 1vmin double #fff000; font-size:3vw;text-align: left;}
footer > * { display: inline-block; margin-left:1vw; vertical-align: middle;}
#cc{font-size: 2vw; max-width: 30vw; margin-left: 8vw;}

#GFbtn{ cursor: pointer;background-image:url(i/Sponsors/GFicon.ico);
    background-repeat: no-repeat; background-position: center; background-size: contain;
    height:10vmin; width:10vmin; border-radius: 50%; }


/* Quote Box */
#QuoteBox {
    display:block; z-index:4;  padding:0.2% 5% 3% 5%;
    margin:0 auto; margin-bottom: 2vh; text-align:center;
    background-color:#fafafa; border:2vmin double red; 
    color:gray; -webkit-text-stroke:0.1vmin gold;
}

#TimeQuoteBox{
    font-size: 3vw; text-align: right; display: inline-block; right: 100%;
    color: #000; -webkit-text-stroke:0.1vmin gold; margin: 0 10% 6% 0;
}

#QuoteBoxP{background-color:#f5f5f555; text-align: left;}
#QuoteBoxP::before{content:'Quote';font-size:6vw;-webkit-text-stroke: 0.3vw black;}
#QuoteBoxP::first-letter{font-size: 8vw;}
#QuoteBoxP::first-line{font-size: 3.2vw;}

#CloseQuoteBox { position: absolute; right: 2.2%;padding:1%; 
     -webkit-text-stroke:1vw red; border: 1vw solid #ff000055;
     font-size:large; opacity: 0.7; }
#CloseQuoteBox:hover{transform: scale(1.2); background-color: #ff000055;}