/* HOME Profile */
/* Main*/
.mainx {
    position: absolute; top: 1%; right: 1%; 
    height: 24vmin; width: 24vmin; margin: 0.4vw 0.4vmin 0 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: move;  border-radius: 50%;
    background-image: var(--Profile-Img-A); background-size: contain; background-position: center;
}

/*Text*/

h1 { color: #fff; margin-bottom: 1%;   
    font-size: 5.5vmin; text-align: left;
}
h1 > u { color: #888; 
    font-size: 10.8vmin; -webkit-text-stroke: 0.11vmin gold;  
}
h1>strong:first-of-type{font-size: 9.1vmin;   -webkit-text-stroke: 0.05vmin goldenrod;}

h2 { top: 0; color: #000; font-size: 3vmin;
    height: min-content; max-width:80vw; width: max-content;
} 

h2 > strong { color: #fff; }
h2 > strong :hover{ color: crimson ;}



.mainx:hover {
    animation-name: SpinMain;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards ;
}
.mainx:hover::after{
    background-image: url(i/Profile.jpg);
}
.Together > b { 
    width: max-content; right: 100;
    text-align: center; background-color: #f5deb355; 
    font-size: larger;  -webkit-text-stroke: 0.01em #11ffad;
}

.Together > b::after {content: '💙'; background-color: #99009955; border-radius: 1% 30% 5% 25%;}
.Together > b::before{content: '💙'; background-color: #99009955; border-radius: 30% 1% 25% 5%; }


/* Icon Boxes */
#IconBox { position: absolute; bottom: 0; padding: 1%; }

#IconBoxPre { display: none; }

.Boxes{  
    display: inline-block; min-width: max-content;
    margin: 1%; padding: 0.5%;
}

.lower { background-color: #ccffff55; }
.upper { background-color: #ffccff55; }

/*Single items*/
.Rotern{ display: inline-block;
    width: min-content; height: fit-content;
}
.Rotern > a {
    height: 100%;
    width: 100%;
}
.balls:hover{
    opacity: 1;
    transform: scale(1.25);
}

.balls {
    opacity: 0.4; background-color: #fff;
    cursor: pointer; display: inline; position: relative;
    max-height: 9vh;  height: 10vmin;
    max-width: 9vh;  width: 10vmin; 
    border: 0.5vmin double gold; border-radius: 50%;
   
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-size: contain; background-repeat: no-repeat; background-position-x: center ; background-position-y: center ; 
}


.Rotern:hover {
    animation-name:Ball-Background ;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#Dhands:hover{opacity: 0;}


/* animations*/
.idle{ animation-name:permspin ; animation-delay: 5s; animation-duration: 10s; animation-fill-mode:both; animation-iteration-count:infinite; animation-timing-function:linear; }
.iconidleF{ animation:permspin 4s linear alternate infinite ;   } 
.iconidleR{ animation:permspin 3s linear reverse 3s infinite ;    }   

@keyframes permspin{
    from{transform: rotate(0);box-shadow: inset 0 0 0 0.2vmin black}
    to{ transform: rotateY(720deg); box-shadow: inset 0 0 0 1vmin gold; }
}

@keyframes SpinMain {
    0% {transform: scale(1.3) rotateY(var(--Mainro)); }
    50% { transform: scale(1.5) ;opacity: 0.9; }
    60%{}70%{}80%{}90%{}
    100%{background-image: var(--Profile-Img-B) ;}
}

@keyframes Ball-Background{
    0%{border-radius: 0%;  
    transform: scale(2) rotate(var(--rotation-direction));
    }
    50%{transform: scale(2) ;}
    60%{}70%{}80%{}
    90%{border-radius: 5%;}
    100%{   border-radius: 10%;
    background: linear-gradient(var(--icon-background)); 
    }
}

/*Rotatered??*/
.hiddenBall {
    cursor: progress;
     user-select: none; opacity: 0; 
}
#HT{opacity: 0;}
#HB{opacity: 0;}

#Bweb {background-image: url(i/Icons/₿/BloodWeb.png); }
#Dhands { opacity: 0.5; background-image: url(i/dhands.jpg); }
#Duo {background-image: url(i/DL.png); }    
#Fb {background-image: url(i/FB.png); }
#Git {background-image: url(i/git.png); }
#Stack {background-image: url(i/Stack.png); }
#Discord {background-image: url(i/discord.svg); }
#LinkD {background-image: url(i/linkd.png); }
#Pint {background-image: url(i/Pint.png); }
#Certs{background-image: url(i/Icons/NFTS.png); }
#Igg {background-image: url(i/Insta.png); }
#Mail {background-image: url(i/Icons/Mail.png); }
#Reddit {background-image: url(i/redit.png); }
#Twit {background-image: url(i/TWITTER\ CC.png); } 

@keyframes HomeAnimation {
    0%{background:linear-gradient(0deg,salmon,lightpink);}
     1%{background:linear-gradient(3.65deg,salmon,lightpink);}2%{background:linear-gradient(7.3deg,salmon, lightpink);}3%{background:linear-gradient(10.95deg,salmon, lightpink);}4%{background:linear-gradient(14.6deg,salmon, lightpink);}5%{background:linear-gradient(18.35deg,salmon, lightpink);}6%{background:linear-gradient(22deg,salmon, lightpink);}7%{background:linear-gradient(25.65deg,salmon, lightpink);}8%{background:linear-gradient(29.3deg,salmon, lightpink);} 9%{background:linear-gradient(32.95deg,salmon, lightpink);}10%{background:linear-gradient(36.6deg,salmon, lightpink);}
     11%{background:linear-gradient(40.15deg,salmon,lightpink);}12%{background:linear-gradient(43.8deg,salmon, lightpink);}13%{background:linear-gradient(47.45deg,salmon, lightpink);}14%{background:linear-gradient(51.1deg,salmon, lightpink);}15%{background:linear-gradient(54.75deg,salmon, lightpink);}16%{background:linear-gradient(58.4deg,salmon, lightpink);}17%{background:linear-gradient(62.05deg,salmon, lightpink);}18%{background:linear-gradient(65.7deg,salmon, lightpink);} 19%{background:linear-gradient(69.35deg,salmon, lightpink);}20%{background:linear-gradient(73deg,salmon, lightpink);}
     21%{background:linear-gradient(76.65deg,salmon,lightpink);}22%{background:linear-gradient(80.3deg,salmon, lightpink);}23%{background:linear-gradient(83.95deg,salmon, lightpink);}24%{background:linear-gradient(87.6deg,salmon, lightpink);}25%{background:linear-gradient(91.25deg,salmon, lightpink);}26%{background:linear-gradient(94.9deg,salmon, lightpink);}27%{background:linear-gradient(98.55deg,salmon, lightpink);}28%{background:linear-gradient(102.2.3deg,salmon, lightpink);} 29%{background:linear-gradient(105.85deg,salmon, lightpink);}30%{background:linear-gradient(109.5deg,salmon, lightpink);}
     31%{background:linear-gradient(113.15deg,salmon,lightpink);}32%{background:linear-gradient(116.5deg,salmon, lightpink);}33%{background:linear-gradient(120.45deg,salmon, lightpink);}34%{background:linear-gradient(124.1deg,salmon, lightpink);}35%{background:linear-gradient(127.75deg,salmon, lightpink);}36%{background:linear-gradient(131.4deg,salmon, lightpink);}37%{background:linear-gradient(135.04deg,salmon, lightpink);}38%{background:linear-gradient(138.7deg,salmon, lightpink);} 39%{background:linear-gradient(142.35deg,salmon, lightpink);}40%{background:linear-gradient(146deg,salmon, lightpink);}
     41%{background:linear-gradient(149.65deg,salmon,lightpink);} 42%{background:linear-gradient(153.29999999999998deg,salmon,lightpink);} 43%{background:linear-gradient(156.95deg,salmon,lightpink);} 44%{background:linear-gradient(160.6deg,salmon,lightpink);} 45%{background:linear-gradient(164.25deg,salmon,lightpink);} 46%{background:linear-gradient(167.9deg,salmon,lightpink);} 47%{background:linear-gradient(171.54999999999998deg,salmon,lightpink);} 48%{background:linear-gradient(175.2deg,salmon,lightpink);} 49%{background:linear-gradient(178.85deg,salmon,lightpink);} 50%{background:linear-gradient(182.5deg,salmon,lightpink);} 
     51%{background:linear-gradient(186.15deg,salmon,lightpink);} 52%{background:linear-gradient(189.79999999999998deg,salmon,lightpink);} 53%{background:linear-gradient(193.45deg,salmon,lightpink);} 54%{background:linear-gradient(197.1deg,salmon,lightpink);} 55%{background:linear-gradient(200.75deg,salmon,lightpink);} 56%{background:linear-gradient(204.4deg,salmon,lightpink);} 57%{background:linear-gradient(208.04999999999998deg,salmon,lightpink);} 58%{background:linear-gradient(211.7deg,salmon,lightpink);} 59%{background:linear-gradient(215.35deg,salmon,lightpink);} 60%{background:linear-gradient(219deg,salmon,lightpink);} 
     61%{background:linear-gradient(222.65deg,salmon,lightpink);} 62%{background:linear-gradient(226.29999999999998deg,salmon,lightpink);} 63%{background:linear-gradient(229.95deg,salmon,lightpink);} 64%{background:linear-gradient(233.6deg,salmon,lightpink);} 65%{background:linear-gradient(237.25deg,salmon,lightpink);} 66%{background:linear-gradient(240.9deg,salmon,lightpink);} 67%{background:linear-gradient(244.54999999999998deg,salmon,lightpink);} 68%{background:linear-gradient(248.2deg,salmon,lightpink);} 69%{background:linear-gradient(251.85deg,salmon,lightpink);} 70%{background:linear-gradient(255.5deg,salmon,lightpink);} 
     71%{background:linear-gradient(259.15deg,salmon,lightpink);} 72%{background:linear-gradient(262.8deg,salmon,lightpink);} 73%{background:linear-gradient(266.45deg,salmon,lightpink);} 74%{background:linear-gradient(270.09999999999997deg,salmon,lightpink);} 75%{background:linear-gradient(273.75deg,salmon,lightpink);} 76%{background:linear-gradient(277.4deg,salmon,lightpink);} 77%{background:linear-gradient(281.05deg,salmon,lightpink);} 78%{background:linear-gradient(284.7deg,salmon,lightpink);} 79%{background:linear-gradient(288.34999999999997deg,salmon,lightpink);} 80%{background:linear-gradient(292deg,salmon,lightpink);} 
     81%{background:linear-gradient(295.65deg,salmon,lightpink);} 82%{background:linear-gradient(299.3deg,salmon,lightpink);} 83%{background:linear-gradient(302.95deg,salmon,lightpink);} 84%{background:linear-gradient(306.59999999999997deg,salmon,lightpink);} 85%{background:linear-gradient(310.25deg,salmon,lightpink);} 86%{background:linear-gradient(313.9deg,salmon,lightpink);} 87%{background:linear-gradient(317.55deg,salmon,lightpink);} 88%{background:linear-gradient(321.2deg,salmon,lightpink);} 89%{background:linear-gradient(324.84999999999997deg,salmon,lightpink);} 90%{background:linear-gradient(328.5deg,salmon,lightpink);}
     91%{background:linear-gradient(332.15deg,salmon,lightpink);}92%{background:linear-gradient(335.8deg,salmon,lightpink);} 93%{background:linear-gradient(339.45deg,salmon,lightpink);} 94%{background:linear-gradient(343.09999999999997deg,salmon,lightpink);} 95%{background:linear-gradient(346.75deg,salmon,lightpink);} 96%{background:linear-gradient(350.4deg,salmon,lightpink);} 97%{background:linear-gradient(354.05deg,salmon,lightpink);} 98%{background:linear-gradient(357.7deg,salmon,lightpink);} 99%{background:linear-gradient(361.34999999999997deg,salmon,lightpink);}
     100%{background:linear-gradient(365deg,salmon,lightpink);}
 }
 