::-webkit-scrollbar{display: none;}
:root{
    --box-size-height:80vh;
    --box-size-width:90vw;
}
*{box-sizing: border-box; margin: 0 auto;}
body{
    background-color: #000;
    background-image: url(background_image.jpg);
    width: 100vw;
}
header{
    width: fit-content; margin-top: 1.6vh;margin-bottom: 1.2vh;
    padding:0.2vh 4vw;
    border: 14px double goldenrod;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f0f8ff;  
}

h1,h2{
    width: max-content;
    
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f0f8ffe0;
    padding: 1%;
}
h1{font-size: 4.2vw;
    border: 0.4rem solid red;
    color: green;
    -webkit-text-stroke: 0.5px red;}
h2 { font-size: 3.6vw;
    border: 0.3rem solid green;
    color: plum;
    -webkit-text-stroke: 0.5px green;
    border-radius: 20% 0 20% 0;
 }
 h2::after,h2::before{ content: '💙'; }
.Standard_slider{
    background-color: #00ffff7f; 
    position:relative; 
    height: 80vh; width: 90vw; 
    padding: 2vh 1vh 5vh 1vh;
}
.fullScreen_slider{
    background-color: #000;
    height: 100vh; width: 100vw;
    position: absolute; top: 0; 
    left: 0;
}
.Standard_slider>.next,.Standard_slider>.prev {border: 2vw double #fafafa77;}
.fullScreen_slider>


#slide_main{
    border: 3px ridge #000;
    margin: auto;
    overflow: hidden;    
}
#fullscreen_slider_switch{
    cursor: pointer; opacity: 0.4;
    text-align: center;
    position: absolute;
    display:block; 
    top:40%;  right:0; left:0;
    height:max(10vh,14vw); width: max(10vh,14vw);
    transform:rotateX('30deg');
    background-color: #00000055;
    border: 0.4rem double #feafc8f6; border-radius: 50%;
    z-index: 3;
}


.promptSlider[src="EI.png"]{
    transform: scale(2);
    display: block;
    animation-name: promptSliderOpen;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    }
.promptSlider[src="EIX.png"]{
    
    display: block;
    animation-name: promptSliderClose;
    animation-duration: 3s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}
@keyframes promptSliderOpen {
    from{ border: 0.4rem double #feafc8f6;}
    99%{background-color: #f0f0f066; opacity: 0.6 ;  transform: scaleX(1.08);}
    to{ opacity: .24; scale: (1.4); border: .2rem double #faafaf55;}
}
@keyframes promptSliderClose {
    from{ border: 0.4rem double #feafc8f6; transform: scale(1.4);}
    99%{background-color: #f0f0f066; opacity: 0.6 ;  }
    to{ display: none; }
}
.prev,.next{
display: block;
animation-name: promptPlud;
animation-duration: 5s;
animation-iteration-count: 2;
animation-fill-mode: forwards;
animation-delay: 5s;
}

@keyframes promptPlud {
    from{transform: scale(1.12); border: 0.4rem double #feafc8f6;}
    99%{background-color: #f0f0f066; opacity: 0.6 ;  transform: scaleX(1.08);}
    to{ opacity: .2; scale: (.4);}
}
#fullscreen_slider_switch:hover{
background-color: #71737199;
}

.image_blocks{display: none; text-align: center;}
.image_blocks> img{ width: 100%; height: 100%; padding: 1% 0; }
.image_blocks.squareLL{padding: 10% 5%;}
.image_blocks.squareTT{padding:2vw 20vw ;}

.prev,.next{
    opacity: 0.3;
cursor: pointer;
position: absolute;
top:40%;
width: auto;
padding: 0 2%;
margin-top: auto; margin-bottom: auto;
color: #fff;
font-weight: 600;
font-size: 6.8rem;
-webkit-text-stroke: 2px #00000055;

transition: 0.8s ease-in-out;

box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
user-select: none;}
.next{right: 0;border-radius:  3px 0 0 3px ;}
.prev:hover,.next:hover{ opacity: 0.6; background-color: #00000055;}

.numbertext {
    color: #f2f2f2;
    -webkit-text-stroke: 1px #00000055;
    font-size: 2rem;
    padding: 2% 2%;
    position: absolute;
    top: 0;
  }
.captiontext{
    background-color: #00000055;
    border: 6px double gold;
    position: absolute; margin: 0 auto; 
    left: 0; right: 0;
    font-size: medium;
    max-width: 75vw;
    padding: 1vh 4vw;
    bottom: 6vh;
    
    text-align: center;
}
.captiontext>p{
    background-color:#000000a9;
    color: white;

    -webkit-text-stroke: 0.2px gold;
   border: 2px solid #c0c0c055;
    width: fit-content;
    padding: 1%;
    }
#slider_dot_div{
    position: absolute; margin: 0 auto; 
    left: 0; right: 0; bottom: 0.18vh;
    background-color: #00ffffcf;
    padding: 0.8vh 0;
}
.slider_dots{
    cursor: pointer;
    height: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover,#clos{background-color: #717371;}

.fadeAnimation{
    animation-name: fade;
    animation-duration: 1.5s;

}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}