:root{
  --canvas-width:300px;
  --button-width:40px;
  --button-beign:var(--button-width);
}

*{
  margin: 0;
  padding:0;
  color:white;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: black;
  position: relative;
  height: 100dvh;
}

#game{
  border: 1px solid #fff;
}

#game-container {
  width: var(--canvas-width);
  height: var(--canvas-width);
  border: 1px solid white;
  position: relative;
  margin: 0 auto;
  margin-top: max(64px,min(2.4em,5vh));
}

/* @media (max-width: 1000px) {
  #game-container{transform:scale(.7);}
}  */


header{flex:1; padding-top: .2em;display: block; }
footer{margin-top:70px;}
h1{font-size:1.8em; -webkit-text-stroke: 2px red; }
header > p {font-size: 1rem;}
footer > p {font-size: .8rem;}
canvas{
  /* margin-left: -20px; */
}

button {
  position: absolute; /* Position buttons absolutely */
  display: inline-block;
  border: none; /* Remove button border */
  background-color: white; /* Button background color */
  color:#000;
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
}

#top,#bottom{
  height:var(--button-width);
  width:var(--canvas-width);
  left:0;
  /* var(--button-width); */
}
#left,#right{
  height:var(--canvas-width);
  width:var(--button-width);
  top:0;
  /* var(--button-width); */
}
#left {
  left: calc(var(--button-width) * -1);
   /* Position to the left of the canvas */
}
#top {
  top: calc(var(--button-width) * -1); /* Position above the canvas */
}
#right {
  right: calc(var(--button-width) * -1); /* Position to the right of the canvas */
}
#bottom {
  bottom: calc(var(--button-width) * -1); /* Position below the canvas */
}