
/*    Certificates CSS file

> Special >> Header >> Main >> Footer <

*/

/* #### Special #### */ 

/* Header Units (Cert-CC-NAMES)
((  "#Maintitle" + All child-Blocks ))   
    4- HackerX + Certfield
    3- Ethical + ""
    2- Grass     ^^
    1- Solo      ^^
    0- Program   ^^
*/
.HackerX{
    background-color: #00800099;
    -webkit-text-stroke: 0.29vmin darkgreen;}
.HackerXCertField{
    color: whitesmoke;
    -webkit-text-stroke: 0.09vmin darkseagreen;
    background: linear-gradient(304deg, lime, lightgreen, #0000ff99 ,seagreen,green);
}
.Ethical{
    background-color: #87ceeb99;
    -webkit-text-stroke: 0.29vmin dodgerblue;}
.EthicalCertfield {
    color: slateblue;
    background: linear-gradient( skyblue , seagreen, #80808099);
    -webkit-text-stroke: 0.19vmin black;
}
.Grass {
    color: lime;
    background-color: #32cd3299;
    -webkit-text-stroke: 0.29vmin whitesmoke;
}
.grasscertfield {
    color: white;
    -webkit-text-stroke: .09vmin lime;
    background: linear-gradient( seagreen,  green, #00ff0099 );
   }
.Solo {
    background-color: #deb88799;
    -webkit-text-stroke: 0.29vmin brown;}
.SoloCertfield {
    background-color: skyblue;
}
.Program {
    background-color: gray;
}
.ProgramCertfield{
    background-color: bisque;
}


/* #### HEADER #### */ 
#Cert_Header {
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
    margin: 0 0 2% 0;
    padding: 0 0 2% 0;
}
.Cert_Title {
    box-shadow: 10px 4px 10px 2px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #fdd70055;
    margin: 0 0 2% 0;
    border: 2px solid goldenrod;
    border-radius: 40% 0 40% 0;
    font-size: 29px;
    -webkit-text-stroke: 2px salmon;
}

#GridDiv { 
    display: grid; grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);   
    margin: 4% 5% 4% 5%;
    padding: 4% 0 4% 0 ;
    background: repeating-linear-gradient(27deg, blue,skyblue,lightblue,dodgerblue,white);
}
#GridDiv > button, #MainTitle{
    border: 2px solid red;
    display: inline-block;   
    text-align: center;
    vertical-align: bottom;
}
#GridDiv > button {
   margin-bottom: 0;
}
/* Fow/Rev Buttons */
.FloatBtn{ 
    display: inline-block;
    background-color: #08080055; color: #fff;    
    border-radius: 50% 20%;
}
.FloatBtn:hover{
    background: linear-gradient(40deg, #08080055, #0808010a);
}

#MainTitle {
    max-width: 80%;
    overflow-wrap:break-word;
    -webkit-text-stroke: 0.2vmin gold;
    font-weight: 700;
    font-size: xx-large;           
} 
.FloatBtn:nth-child(1){transform: scaleX(-1);}
.FloatBtn:nth-child(1) * {transform: scaleX(-1);} 
.FloatBtn>p>*{
    display: block;
}

/* #### MAIN #### */

#CertField {
    padding-top: 1%;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    border: 1px double black; 
    margin:0 auto;
}

/* Blocks & Block units */
.Certificate_Block {
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 2px solid red;
    text-align: center;
    margin: 0 auto; margin-top: 1vh;
    padding: 0 auto;
    max-width: 30vw;
}
.Certificate_Block > img {
    width: 100%;                                
    max-height: 100%; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.Certificate_Block > img:hover {
    transform: scale(1.2);
    opacity: 0.9; cursor: pointer;
}  
.Certificate_Block > p {
    overflow-wrap: break-word;
    font-size: 3.5vw; font-weight: 700; -webkit-text-stroke: 0.03vw pink;
    margin: 0 auto;
    line-height:1em;
    min-height:2em;
    padding-top:0.75em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
       
