
    <a class="NavListitem" href="/index.html" name="Home">Home</a>
    <!-- <a class="NavListitem" href="/Profile/index.html" name="Profile">Profile</a> -->
    <a class="NavListitem" href="/linktree.html" name="Linktree">Linktree</a>
    <a class="NavListitem" href="/projects" name="Projects">Projects</a>
    <a id="Vertical_NavSwitch" class="Nav_Switch NavListitem" href="javascript:void(0)">☰</a>
    <img id="unicorn_nav_img" src="favicon.ico" alt="Favicon Image">
    <div id="unicorn_nav_img_container" class="unicorn_nav_img_container">
        <div id="image_quote_box" class="quote_box" style=" animation: opacity;">
            <p> You are loved &lt;3</p>
        </div>
    </div>


<div id="Vertical_NavBar" class="Vertical_NavBar" style="display:none;">
    <li class="NavListitem" id="NavListSelected"><a href="#">➤ Home</a></li>
    <!-- <li class="NavListitem"><a href="/Profile/index.html"><p>Profile</p></a></li> -->
    <li class="NavListitem"><a href="/linktree.html">
            <p>Linktree</p>
        </a></li>
    <li class="NavListitem"><a href="/projects">
            <p>Projects</p>
        </a></li>

    <div id="Vertical_NavFooter">
        <button id="DarkModeSwitch" onclick="DarkModeSwitch()">
            <span class="darkmode-text">Darkmode</span>
            <span class="darkmode-icon"></span>
        </button>
    </div>                                                                      
</div> 