::-webkit-scrollbar{display: none;}
:root{
    --box-size-height:80vh;
    --box-size-width:90vw;
}
*{box-sizing: border-box; margin: 0 auto;}
body{
    background-color: #000;
    background-image: url(background_image.jpg);
    width: 100vw;
}
header{
    width: min-content; 
    margin: 0 auto;
    margin-top: 1.6vh;margin-bottom: 1.2vh;
    padding:0.2vh 4vw;
    border: 14px double goldenrod;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f0f8ff;  
}

h1,h2{
    width: max-content;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f0f8ffe0;
    padding: 1%;
}
h1{
    font-size:min(1.4em,5vw); 
    border: .18rem double red;
    color: green;
    -webkit-text-stroke: 0.5px red;
}
h2 { 
    font-size: min(1.1em,4vw);
    border: .12rem double green;
    color: plum;
    -webkit-text-stroke: 0.5px green;
    border-radius: 12%;
 }

 